MémoireITU-v3r3.docx
ip-getter/ip-getter.jar
livrables/ip-getter.jar
livrables/bin/makay-0.0.1-SNAPSHOT.jar
livrables/redist/OpenJDK17U-jdk_x64_windows_hotspot_17.0.2_8.msi
*.class
livrables/mylogs/spring.log.2024-11-08.0.gz
livrables/mylogs/spring.log.2024-11-10.0.gz
livrables/mylogs/spring.log.2024-11-11.0.gz
livrables/redist/postgresql-11.17-1-windows-x64.exe
mémoire/Mémoire - HERILALAO Ny Avo Lucas - ETU001777.pdf
mémoire/memoire.pdf
mémoire/backoffice/1.PNG
mémoire/backoffice/2.PNG
mémoire/backoffice/3.PNG
mémoire/conception/classes/1.PNG
mémoire/conception/classes/2.PNG
mémoire/conception/design/1.PNG
mémoire/conception/design/2.PNG
mémoire/conception/design/3.PNG
mémoire/conception/design/14cdccb2-4697-4a4d-ac93-e4e9f8ed94ed.jfif
mémoire/conception/outils/1.PNG
mémoire/conception/outils/2.PNG
mémoire/conception/outils/3.PNG
mémoire/conception/outils/4.PNG
mémoire/conception/outils/5.PNG
mémoire/conception/outils/6.PNG
mémoire/conception/tables/1.PNG
mémoire/conception/tables/2.PNG
mémoire/conception/tables/3.PNG
mémoire/conception/tables/4.PNG
mémoire/conception/tables/5.PNG
mémoire/conception/tables/6.PNG
mémoire/conception/vues/7.PNG
mémoire/conception/vues/8.PNG
mémoire/conception/vues/9.PNG
mémoire/conception/vues/10.PNG
mémoire/conception/vues/11.PNG
mémoire/conception/vues/12.PNG
mémoire/conception/écrans/IMG_20241111_095329_301.jpg
mémoire/conception/écrans/IMG_20241111_095335_937.jpg
mémoire/conception/écrans/IMG_20241111_095341_317.jpg
mémoire/conception/écrans/IMG_20241111_095344_232.jpg
mémoire/conception/écrans/IMG_20241111_095354_334.jpg
mémoire/conception/écrans/IMG_20241111_095415_953.jpg
mémoire/conception/écrans/IMG_20241111_095434_168.jpg
mémoire/conception/écrans/IMG_20241111_095450_354.jpg
mémoire/conception/écrans/IMG_20241111_095524_914.jpg
mémoire/conception/écrans/IMG_20241111_095552_036.jpg
mémoire/conception/écrans/IMG_20241111_095604_100.jpg
mémoire/gestion-commande/barcuisine/1.PNG
mémoire/gestion-commande/responsable/1.PNG
mémoire/gestion-commande/responsable/2.PNG
mémoire/gestion-commande/responsable/3.PNG
mémoire/gestion-commande/serveur/1.PNG
mémoire/gestion-commande/serveur/2.PNG
mémoire/gestion-commande/serveur/3.PNG
mémoire/gestion-commande/serveur/4.PNG
mémoire/gestion-commande/serveur/5.PNG
mémoire/historique/1-2.PNG
mémoire/historique/1.PNG
mémoire/historique/3.PNG
mémoire/historique/4.PNG
mémoire/historique/5.PNG
mémoire/historique/6.PNG
mémoire/paiement/1.PNG
mémoire/paiement/2.PNG
mémoire/photos/3.PNG
mémoire/photos/IMG_20241110_153618_662.jpg
mémoire/photos/IMG_20241110_161135_515.jpg
mémoire/photos/IMG_20241110_161203_714.jpg
mémoire/photos/IMG_20241110_161230_779.jpg
mémoire/photos/IMG_20241110_161243_641.jpg
mémoire/photos/IMG_20241110_161342_631.jpg
mémoire/photos/IMG_20241110_161433_110.jpg
mémoire/photos/ipgetter.PNG
mémoire/photos/ipgetter2.PNG
mémoire/photos/Screenshot_20241110-182424.jpg
mémoire/photos/Screenshot_20241110-185045.jpg
mémoire/photos/Screenshot_20241110-185053.jpg
mémoire/photos/Screenshot_20241110-190138.jpg
mémoire/photos/Screenshot_20241110-190146.jpg
mémoire/photos/Screenshot_20241110-190844.jpg
mémoire/photos/Screenshot_20241110-190852.jpg
mémoire/photos/Screenshot_20241110-190902.jpg
mémoire/planning/dispatch/1.PNG
mémoire/planning/dispatch/2.PNG
mémoire/planning/dispatch/3.PNG
mémoire/planning/plantable/1.PNG
mémoire/planning/plantable/2-1.PNG
mémoire/planning/plantable/2.PNG
mémoire/planning/roles/1.PNG
mémoire/planning/stock/1.PNG
mémoire/prise-commande/3.PNG
mémoire/tableau-bord/1.PNG
mémoire/tableau-bord/2.PNG
mémoire/tableau-bord/3.PNG
mémoire/technos/1.PNG
livrables/redist/postgresql-11.17-1-windows-x64.exe
