<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded p-4 table-responsive">
                <div class="accordion" id="accordionRecherche">
                    <div class="accordion-item bg-transparent">
                        <h2 class="accordion-header" id="headingRecherche">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseRecherche" aria-expanded="true"
                                aria-controls="collapseRecherche">
                                <p>
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    Recherche
                                </p>
                            </button>
                        </h2>
                        <div id="collapseRecherche" class="accordion-collapse collapse"
                            aria-labelledby="headingRecherche" data-bs-parent="#accordionRecherche">
                            <div class="accordion-body">
                            <form action="/historique-de-commande" method="get">
                                <div class="row mb-3">
                                    <label for="inputTable" class="col-sm-2 col-form-label">Table</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="table" id="inputTable" th:value="${param.table}">
                                    </div>
                                </div>
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Ouverture</legend>
                                    <div class="col-sm-10">
                                        <div class="row mb-3">
                                            <label for="ouverture-debut" class="col-sm-2 col-form-label">Du: </label>
                                            <div class="col-sm-10">
                                                <input type="datetime-local" class="form-control" name="ouvertureDebut" id="ouverture-debut" th:value="${param.ouvertureDebut}">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="ouverture-fin" class="col-sm-2 col-form-label">Au: </label>
                                            <div class="col-sm-10">
                                                <input type="datetime-local" class="form-control" name="ouvertureFin" id="ouverture-fin" th:value="${param.ouvertureFin}">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Cloture</legend>
                                    <div class="col-sm-10">
                                        <div class="row mb-3">
                                            <label for="cloture-debut" class="col-sm-2 col-form-label">Du: </label>
                                            <div class="col-sm-10">
                                                <input type="datetime-local" class="form-control" name="clotureDebut" id="cloture-debut" th:value="${param.clotureDebut}">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="cloture-fin" class="col-sm-2 col-form-label">Au: </label>
                                            <div class="col-sm-10">
                                                <input type="datetime-local" class="form-control" name="clotureFin" id="cloture-fin" th:value="${param.clotureFin}">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Montant</legend>
                                    <div class="col-sm-10">
                                        <div class="row mb-3">
                                            <label for="montant-debut" class="col-sm-2 col-form-label">Entre </label>
                                            <div class="col-sm-10">
                                                <input type="number" step="0.01" min="0" class="form-control" name="montantDebut" id="montant-debut" th:value="${param.montantDebut}">
                                            </div>
                                        </div>
                                        <div class="row mb-3">
                                            <label for="montant-fin" class="col-sm-2 col-form-label">Et </label>
                                            <div class="col-sm-10">
                                                <input type="number" step="0.01" min="0" class="form-control" name="montantFin" id="montant-fin" th:value="${param.montantFin}">
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Mode de paiement</legend>
                                    <div class="col-sm-10">
                                        <div class="form-check" th:each="m:${modepaiements}">
                                            <input class="form-check-input mode-paiement-checkbox" th:data-idmode="${m.id}" type="checkbox" th:id="'mode-paiement'+${m.id}" th:value="${m.id}" name="modepaiement">
                                            <label class="form-check-label" th:for="'mode-paiement'+${m.id}" th:text="${m.nom}"></label>
                                        </div>
                                    </div>
                                </fieldset>
                                <div class="row mb-3">
                                    <label for="inputProduit" class="col-sm-2 col-form-label">Produit</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="produit" id="inputProduit" th:value="${param.produit}">
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label for="inputAccompagnement" class="col-sm-2 col-form-label">Accompagnement</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" name="accompagnement" id="inputAccompagnement" th:value="${param.accompagnement}">
                                    </div>
                                </div>
                                <div class="form-floating">
                                    <textarea class="form-control" name="notes" placeholder="Notes"
                                        id="floatingTextarea" style="height: 150px;" th:text="${param.notes}"></textarea>
                                    <label for="floatingTextarea">Notes</label>
                                </div>
                                <br>
                                <div class="d-flex justify-content-end">
                                    <button type="reset" class="btn btn-secondary">Reinitialiser</button>
                                    <button type="submit" class="btn btn-info">Rechercher</button>
                                </div>
                            </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Table</th>
                            <th>Serveur</th>
                            <th>Date et heure de création</th>
                            <th>Clôture</th>
                            <th>Montant</th>
                            <th>Etat</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="c:${commandes}">
                            <td><a th:text="${c.recupererPlaceLabel()}" href="#" data-bs-toggle="modal" th:data-bs-target="'#detailCommandeModal'+${c.id}"></a></td>
                            <td th:text="${c.utilisateur.nom}"></td>
                            <td th:text="${c.recupererHeure()}"></td>
                            <td th:text="${c.recupererHeureCloture()}"></td>
                            <td style="font-weight: bold;" th:text="${c.recupererMontantString()}"></td>
                            <td th:style="'background-color: '+${c.recupererCouleur()}" th:text="${c.recupererEtatString()}"></td>
                            <div class="modal fade" th:id="'detailCommandeModal'+${c.id}" tabindex="-2" th:aria-labelledby="'detailCommandeModalLabel'+${c.id}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" th:id="'detailCommandeModalLabel'+${c.id}" th:text="${c.recupererPlaceLabel()}"></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body table-responsive" th:id="'detailCommande'+${c.id}">
                                            <p th:text="'Serveur: '+${c.utilisateur.nom}"></p>
                                            <nav>
                                                <div class="nav nav-tabs" id="nav-tab" role="tablist">
                                                    <button class="nav-link active" th:id="'nav-commande-tab'+${c.id}" data-bs-toggle="tab"
                                                        th:data-bs-target="'#nav-commande'+${c.id}" type="button" role="tab" th:aria-controls="'nav-commande'+${c.id}"
                                                        aria-selected="true">Commandes</button>
                                                    <button class="nav-link" th:id="'nav-paiements-tab'+${c.id}" data-bs-toggle="tab"
                                                        th:data-bs-target="'#nav-paiements'+${c.id}" type="button" role="tab"
                                                        th:aria-controls="'nav-paiements'+${c.id}" aria-selected="false">Paiements</button>
                                                </div>
                                            </nav>
                                            <div class="tab-content pt-3" id="nav-tabContent">
                                                <div class="tab-pane fade show active" th:id="'nav-commande'+${c.id}" role="tabpanel" th:aria-labelledby="'nav-commande-tab'+${c.id}">
                                                    <div th:each="cf:${c.commandeFilles}">
                                                        <p>
                                                            <span th:text="${cf.recupererMontantString()}+' : '" style="font-weight: bold;"></span>
                                                            <span th:text="${cf.quantite}+' '+${cf.produit.nom}+' '+${cf.notes}"></span>
                                                        </p>
                                                        <p><ul>
                                                            <li th:each="cfa:${cf.accompagnements}" th:text="${cfa.nom}"></li>
                                                        </ul></p>
                                                    </div>
                                                    <hr>
                                                    <p>
                                                        <span th:text="'Montant total : '"></span>
                                                        <span style="font-weight: bold;" th:text="${c.recupererMontantString()}"></span>
                                                    </p>
                                                </div>
                                                <div class="tab-pane fade" th:id="'nav-paiements'+${c.id}" role="tabpanel" th:aria-labelledby="'nav-paiements-tab'+${c.id}">
                                                    <p>Paiements:</p>
                                                    <div th:each="cp:${c.paiements}">
                                                        <p>
                                                            <span th:text="${cp.recupererHeure()}+' : '"></span>
                                                            <span style="font-weight: bold;" th:text="${cp.recupererMontantString()}"></span>
                                                            <span th:text="' ('+${cp.modePaiement.nom}+')'"></span>
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                                            <a th:href="'/exporter?idcommande='+${c.id}"><button type="button" class="btn btn-success">Télecharger en PDF</button></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </tr>
                    </tbody>
                </table>
                <br>
                <nav>
                    <ul class="pagination justify-content-center">
                        <li class="page-item">
                            <a class="page-link" th:href="'/historique-de-commande?indice_actu='+${indice_premier}+'&'+${querystring}" aria-label="Precedent">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        <li th:class="'page-item '+${bouton_precedent}"><a class="page-link" th:href="'/historique-de-commande?indice_actu='+${indice_precedent}+'&'+${querystring}" th:text="${indice_precedent}"></a></li>
                        <li class="page-item disabled page-active"><a class="page-link" th:text="${indice_actu}"></a></li>
                        <li th:class="'page-item '+${bouton_suivant}"><a class="page-link" th:href="'/historique-de-commande?indice_actu='+${indice_suivant}+'&'+${querystring}" th:text="${indice_suivant}"></a></li>
                        <li class="page-item disabled"><a class="page-link">...</a></li>
                        <li class="page-item">
                            <a class="page-link" th:href="'/historique-de-commande?indice_actu='+${indice_dernier}+'&'+${querystring}" aria-label="Suivant">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const modePaiementCheckbox=document.getElementsByClassName("mode-paiement-checkbox");
        const modePaiementChoisis=/*[[${modepaiements_choisis}]]*/[];
        for(let i=0;i<modePaiementCheckbox.length;i++){
            const idmode=modePaiementCheckbox[i].dataset.idmode;
            if(modePaiementChoisis.includes(idmode)){
                modePaiementCheckbox[i].checked=true;
            }
        }

        const ip=/*[[${ip}]]*/"";
        const resetCache=/*[[${resetcache}]]*/"";
        const receiveNotify=/*[[${receivenotify}]]*/"";
        const stompclient=new StompJs.Client({
            brokerURL:'ws://'+ip+':8080/messaging'
        });
        stompclient.activate();
        function redirigerVersResetCache(){
            window.location.href="http://"+ip+":8080/"+resetCache;
        }
        function receiveNotificationRedirect(){
            stompclient.subscribe("/notify/"+receiveNotify, (message)=>{
                redirigerVersResetCache();
            });
        }
        stompclient.onConnect=(frame)=>{
            receiveNotificationRedirect();
        }
        window.onbeforeunload=()=>{
            stompclient.deactivate();
        }
        /*]]*/
    </script>
</div>