<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded p-4">
                <div class="row mb-3">
                <form action="/liste-commande" method="get">
                    <label for="recherche-table" class="col-sm-2 col-form-label">Table: </label>
                    <div class="input-group mb-3 col-sm-5" id="recherche-table">
                        <input type="text" class="form-control" id="recherche-table-input" name="table" aria-label="Recherche">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-search"></i></button>
                    </div>
                    <table class="table">
                        <tbody id="recherche-table-suggestion"></tbody>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div th:each="c:${commandes}">
        <div class="row">
            <div class="col-12">
                <div th:if="${c.etat==0}" class="btn btn-outline-primary pt-4 w-100" th:id="'button-commande'+${c.id}" data-bs-toggle="modal" th:data-bs-target="'#detailCommandeModal'+${c.id}">
                    <h2 th:text="${c.recupererPlaceLabel()}"></h2>
                    <p th:text="${c.recupererHeure()}"></p>
                </div>
                <div th:unless="${c.etat==0}" class="btn btn-primary pt-4 w-100" style="background-color: #9cff9c;" data-bs-toggle="modal" th:data-bs-target="'#detailCommandeModal'+${c.id}">
                    <h2 th:text="${c.recupererPlaceLabel()}"></h2>
                    <p class="text-primary" th:text="${c.recupererHeure()}"></p>
                </div>
                <div class="modal fade" th:id="'detailCommandeModal'+${c.id}" tabindex="-1" th:aria-labelledby="'detailCommandeModalLabel'+${c.id}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" th:id="'detailCommandeModalLabel'+${c.id}" th:text="${c.recupererPlaceLabel()}"></h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body table-responsive">
                            <div th:id="'alerte-envoye-commande'+${c.id}"></div>
                            <table class="table">
                                <tbody>
                                    <tr th:each="cf:${c.commandeFilles}" th:id="'ligne-commandefille'+${cf.id}" th:style="'background-color:'+${cf.recupererEstTermineCouleur()}">
                                        <td th:text="${cf.quantite}"></td>
                                        <td th:text="${cf.produit.nom}+' '+${cf.notes}"></td>
                                        <td>
                                            <ul>
                                                <li th:each="cfa:${cf.accompagnements}" th:text="${cfa.nom}"></li>
                                            </ul>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                            <a th:if="${c.etat==0}" th:href="'/modifier-commande?idcommande='+${c.id}+'&indice_pagination='+${indicepagination}+'&table='+${table}" th:id="'link-modifier-commande'+${c.id}"><button type="button" th:id="'modifier-commande'+${c.id}" class="btn btn-warning">Modifier</button></a>
                            <button th:unless="${c.etat==0}" type="button" class="btn btn-warning" disabled>Modifier</button>
                            <button th:if="${c.etat==0}" type="button" class="btn btn-success demande-addition" th:data-etat="${c.etat}" th:data-idcommande="${c.id}">Addition</button>
                            <button th:unless="${c.etat==0}" type="button" class="btn btn-success" disabled><i class="fa-solid fa-check"></i></button>
                            <img th:id="'loading-commande'+${c.id}" th:src="@{img/loading.gif}" width="25" alt="loading" style="display: none;">
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <br>
    </div>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="${table!=null}?'/liste-commande?indice_actu='+${indice_premier}+'&table='+${table}:'/liste-commande?indice_actu='+${indice_premier}" aria-label="Precedent">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li th:class="'page-item '+${bouton_precedent}"><a class="page-link" th:href="${table!=null}?'/liste-commande?indice_actu='+${indice_precedent}+'&table='+${table}:'/liste-commande?indice_actu='+${indice_precedent}" th:text="${indice_precedent}"></a></li>
            <li class="page-item disabled page-active"><a class="page-link" th:text="${indice_actu}"></a></li>
            <li th:class="'page-item '+${bouton_suivant}"><a class="page-link" th:href="${table!=null}?'/liste-commande?indice_actu='+${indice_suivant}+'&table='+${table}:'/liste-commande?indice_actu='+${indice_suivant}" th:text="${indice_suivant}"></a></li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link" th:href="${table!=null}?'/liste-commande?indice_actu='+${indice_dernier}+'&table='+${table}:'/liste-commande?indice_actu='+${indice_dernier}" aria-label="Suivant">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const places=/*[[${places}]]*/[];
        const rechercheTableInput=document.getElementById("recherche-table-input");
        const rechercheTableSuggestion=document.getElementById("recherche-table-suggestion");
        rechercheTableInput.oninput=()=>{
            rechercheTableSuggestion.innerHTML="";
            for(let i=0;i<places.length;i++){
                if(places[i].nom.includes(rechercheTableInput.value.toLowerCase())&&rechercheTableInput.value!==''){
                    const suggestion=document.createElement("tr");
                    const suggestionTdNom=document.createElement("td");
                    suggestionTdNom.textContent=places[i].nom;
                    const suggestionTdBtnCol=document.createElement("td");
                    const suggestionTdBtn=document.createElement("button");
                    suggestionTdBtn.type="button";
                    suggestionTdBtn.innerHTML='<i class="fa-solid fa-plus"></i>';
                    suggestionTdBtn.className="btn btn-primary w-100";
                    suggestionTdBtn.onclick=()=>{
                        rechercheTableInput.value=places[i].nom;
                    };
                    suggestion.appendChild(suggestionTdNom);
                    suggestionTdBtnCol.appendChild(suggestionTdBtn);
                    suggestion.appendChild(suggestionTdBtnCol);
                    rechercheTableSuggestion.appendChild(suggestion);
                }
            }
        };

        const demandesAddition=document.getElementsByClassName("demande-addition");
        const ip=/*[[${ip}]]*/"";
        const utilisateur=/*[[${utilisateur}]]*/{};
        const sessionid=/*[[${sessionid}]]*/"";
        const api="http://"+ip+":8080/demande-addition";
        for(let i=0;i<demandesAddition.length;i++){
            const idcommande=demandesAddition[i].dataset.idcommande;
            const alerteEnvoye=document.getElementById("alerte-envoye-commande"+idcommande);
            const linkModifier=document.getElementById("link-modifier-commande"+idcommande);
            const modifierCommande=document.getElementById("modifier-commande"+idcommande);
            const buttonCommande=document.getElementById("button-commande"+idcommande);
            demandesAddition[i].onclick=()=>{
                const commande={ id:idcommande };
                const demandeAdditionREST={
                    sessionid:sessionid,
                    utilisateur:utilisateur,
                    commande:commande
                }
                const loading=document.getElementById("loading-commande"+idcommande);
                loading.style.display="block";
                fetch(api, {
                    method:"POST",
                    headers:{
                        "Content-type":"application/json"
                    },
                    body:JSON.stringify({restdata:JSON.stringify(demandeAdditionREST)})
                }).then((response)=>{return response.json()})
                .then((data)=>{
                    loading.style.display="none";
                    if(data.code===0){
                        const alert=document.createElement("div");
                        alert.className="alert alert-danger w-100";
                        alert.setAttribute("role", "alert");
                        alert.textContent=data.message;
                        alerteEnvoye.appendChild(alert);
                        return;
                    }
                    demandesAddition[i].innerHTML="<i class='fa-solid fa-check'></i>";
                    demandesAddition[i].disabled=true;
                    linkModifier.setAttribute("href", "#");
                    modifierCommande.disabled=true;
                    buttonCommande.style.backgroundColor="#9cff9c";
                });
            }
        }

        const resetCache=/*[[${resetcache}]]*/"";
        const receiveNotify=/*[[${receivenotify}]]*/"";
        const stompclient=new StompJs.Client({
            brokerURL:'ws://'+ip+':8080/messaging'
        });
        stompclient.activate();
        function redirigerVersResetCache(){
            window.location.href="http://"+ip+":8080/"+resetCache;
        }
        function receiveNotificationRedirect(){
            stompclient.subscribe("/notify/"+receiveNotify, (message)=>{
                redirigerVersResetCache();
            });
        }
        stompclient.onConnect=(frame)=>{
            receiveNotificationRedirect();
            receiveCheckCommandeFille();
        }
        window.onbeforeunload=()=>{
            stompclient.deactivate();
        }
        function receiveCheckCommandeFille(){
            stompclient.subscribe("/notify/recevoir-check-commandefille", (checkEnvoye)=>{
                const envoiCheck=JSON.parse(checkEnvoye.body);
                const ligneCmdFille=document.getElementById("ligne-commandefille"+envoiCheck.commandeFille.id);
                ligneCmdFille.style.backgroundColor="#70ff9b";
            });
        }
        /*]]*/
    </script>
</div>