<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h1>Modification de commande</h1>
                <div id="alerte-envoye"></div>
                <div class="row mb-3">
                    <p class="col-9 offset-3 col-form-label" th:text="${commande.recupererPlaceLabel()}"></p>
                </div>
                <hr>
                <div class="input-group mb-3">
                    <input type="text" id="recherche-produit" class="form-control" aria-label="Recherche">
                    <button type="button" id="reset-recherche" class="btn btn-primary"><i class="fa fa-xmark"></i></button>
                </div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Produit</th>
                            <th scope="col">En stock</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody id="suggestion-table">
                        <!-- Autocomplete suggestions -->
                    </tbody>
                    <tfoot>
                        <br>
                        <button type="button" class="btn btn-primary" id="actualiser-cache">Actualiser l'état de stock</button>
                        <br>
                    </tfoot>
                </table>
                <button class="btn btn-primary w-100" data-bs-toggle="modal" data-bs-target="#commandeModal" type="button">Commande en cours</button>
                <div class="modal fade" id="commandeModal" tabindex="-1" aria-labelledby="commandeModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h1 class="modal-title fs-5" id="commandeModalLabel">Commande en cours</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mb-3">
                                <p class="col-9 offset-3 col-form-label" th:text="${commande.recupererPlaceLabel()}"></p>
                                <input type="hidden" name="commandes" id="submitCommand">
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody id="commandes-ajoutees">
                                        <!-- Commandes ajoutées -->
                                        <tr th:each="cf:${commandefilles}" th:id="'orderCmd'+${cf.id}">
                                            <th scope="row" th:text="${cf.quantite}"></th>
                                            <td th:text="${cf.produit.nom}+' '+${cf.notes}"></td>
                                            <td>
                                                <ul style="list-style: none;">
                                                    <li th:each="cfa:${cf.accompagnements}" th:text="${cfa.nom}"></li>
                                                </ul>
                                            </td>
                                            <td>
                                                <button class="btn btn-primary w-100" type="button" disabled>
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                                <button class="btn btn-danger w-100" type="button" disabled>
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody id="new-orders">
                                        <!-- Commandes ajoutées -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" id="envoyer-commande" data-bs-dismiss="modal">Envoyer</button>
                            <img id="loading-envoi-commande" th:src="@{img/loading.gif}" width="75" alt="loading" style="display: none;">
                        </div>
                    </div>
                    </div>
                </div>
                <script th:inline="javascript">
                    /*<![CDATA[*/
                    const places=/*[[${places}]]*/[];
                    const utilisateur=/*[[${utilisateur}]]*/{};
                    const sessionid=/*[[${sessionid}]]*/"";

                    let produits=/*[[${produits}]]*/[];
                    let produitInput=document.getElementById("recherche-produit");
                    let resetRecherche=document.getElementById("reset-recherche");
                    let commandeAjout=document.getElementById("new-orders");
                    let submitCommand=document.getElementById("submitCommand");
                    resetRecherche.onclick=()=>{
                        produitInput.value='';
                    }

                    let commandes=[];

                    produitInput.addEventListener("input", function(){
                        const input=this.value.toLowerCase();
                        const filteredProducts = produits.filter(produit=>
                            produit.nom.toLowerCase().includes(input)&&input!==""
                        );
                        updateTable(commandes, filteredProducts, commandeAjout, submitCommand);
                    });

                    function addCommande(commandes, newProduct, quantite, notes, accompagnements, accompsID){
                        for (let i = 0; i < commandes.length; i++) {
                            if (commandes[i].produit.id === newProduct.id && 
                                commandes[i].notes === notes && 
                                commandes[i].accompagnements.length===accompagnements.length && 
                                commandes[i].accompsID.every((element)=>accompsID.includes(element))&&
                                accompsID.every((element)=>commandes[i].accompsID.includes(element))) {
    
                                let newQuantite=Number(commandes[i].quantite)+Number(quantite);
                                commandes[i].quantite=newQuantite;
                                return;
                            }
                        }
                        let commande=new Object();
                        commande.produit=newProduct;
                        commande.quantite=quantite;
                        commande.notes=notes;
                        commande.accompagnements=accompagnements;
                        commande.accompsID=accompsID;
                        commandes.push(commande);
                    }
                    
                    function cloneArr(array2){
                        array1=[];
                        array2.forEach(item=>{
                            array1.push(item);
                        })
                        return array1;
                    }

                    function updateTable(commandes, filteredProducts, orderList, submitCommandes){
                        const table=document.getElementById("suggestion-table");
                        table.innerHTML='';
                        filteredProducts.forEach(product=>{
                            const accomps=[], accompsID=[];
                            const row=document.createElement("tr");
                            const colonneNom=document.createElement("th");
                            colonneNom.setAttribute("scope", "row");
                            colonneNom.textContent=product.nom;
                            const colonneStock=document.createElement("td");
                            colonneStock.textContent=product.dernierStock;
                            const bouton=document.createElement("td");
                            bouton.innerHTML="<button class=\"btn btn-primary w-100\" data-bs-toggle=\"modal\" data-bs-target=\"#productModal"+product.id+"\"><i class=\"fa fa-plus\"></i></button>";

                            // Create the outermost div for the modal
                            const modal = document.createElement('div');
                            modal.className = 'modal';
                            modal.id = 'productModal'+product.id;
                            modal.tabIndex = -1;
                            modal.setAttribute('aria-labelledby', 'productModalLabel'+product.id);
                            modal.setAttribute('aria-hidden', 'true');

                            // Create the modal-dialog div
                            const modalDialog = document.createElement('div');
                            modalDialog.className = 'modal-dialog';
                            modalDialog.style.marginTop="7.5vh";

                            // Create the modal-content div
                            const modalContent = document.createElement('div');
                            modalContent.className = 'modal-content';

                            // Create the modal-header div
                            const modalHeader = document.createElement('div');
                            modalHeader.className = 'modal-header';

                            // Create the h1 element for the modal title
                            const modalTitle = document.createElement('h1');
                            modalTitle.className = 'modal-title fs-5';
                            modalTitle.id = 'productModalLabel'+product.id;
                            modalTitle.textContent = product.nom;

                            // Create the close button
                            const closeButton = document.createElement('button');
                            closeButton.type = 'button';
                            closeButton.className = 'btn-close';
                            closeButton.setAttribute('data-bs-dismiss', 'modal');
                            closeButton.setAttribute('aria-label', 'Close');

                            // Append the title and close button to the modal-header
                            modalHeader.appendChild(modalTitle);
                            modalHeader.appendChild(closeButton);

                            // Create the modal-body div
                            const modalBody = document.createElement('div');
                            modalBody.className = 'modal-body';

                            // Create the outer div for the Quantite input
                            const rowDiv = document.createElement('div');
                            rowDiv.className = 'row mb-3';

                            // Create the label for the Quantite input
                            const label = document.createElement('label');
                            label.setAttribute('for', 'inputQuantite'+product.id);
                            label.className = 'col-sm-2 col-form-label';
                            label.textContent = 'Quantite';

                            // Create the div for the input field
                            const inputDiv = document.createElement('div');
                            inputDiv.className = 'col-sm-10';

                            // Create the input field
                            const inputField = document.createElement('input');
                            inputField.type = 'number';
                            inputField.min = '1';
                            inputField.className = 'form-control';
                            inputField.id = 'inputQuantite'+product.id;
                            inputField.value=1;

                            // Append the input field to its container
                            inputDiv.appendChild(inputField);

                            // Append the label and input div to the row div
                            rowDiv.appendChild(label);
                            rowDiv.appendChild(inputDiv);

                            // Choix accompagnement
                            const labelAccomp = document.createElement('label');
                            labelAccomp.setAttribute('for', 'select-accompagnement');
                            labelAccomp.className = 'form-label';
                            labelAccomp.textContent="Accompagnements";

                            const accompSelectDiv=document.createElement("div");
                            accompSelectDiv.className="d-flex justify-content-between mb-3";
                            accompSelectDiv.id="select-accompagnement";

                            // Create the select element
                            const select = document.createElement('select');
                            select.className = 'form-select';
                            select.id="accompPossible"+product.id;
                            select.setAttribute('aria-label', 'Default select example');
                            for(let j=0;j<product.accompagnements.length;j++){
                                const choix=document.createElement("option");
                                choix.textContent=product.accompagnements[j].nom;
                                choix.value=JSON.stringify({ id: product.accompagnements[j].id, nom: product.accompagnements[j].nom });
                                select.appendChild(choix);
                            }
                            const accompBouton=document.createElement("button");
                            accompBouton.className="btn btn-primary";
                            accompBouton.innerHTML="<i class='fa fa-plus'></i>";
                            accompBouton.onclick=()=>{
                                const selectAccomp=JSON.parse(document.getElementById("accompPossible"+product.id).value);
                                if(accompsID.includes(selectAccomp.id)){
                                    return;
                                }
                                accomps.push(selectAccomp);
                                accompsID.push(selectAccomp.id);
                                const tableAccomp=document.getElementById("accompProd"+product.id);
                                const newRow=document.createElement("tr");
                                newRow.id="accompRowProd"+product.id+"Accomp"+selectAccomp.id;
                                const tableAccompNom=document.createElement("td");
                                tableAccompNom.textContent=selectAccomp.nom;
                                const tableAccompRemoveCol=document.createElement("td");
                                const tableAccompRemove=document.createElement("button");
                                tableAccompRemove.className="btn btn-danger w-100";
                                tableAccompRemove.innerHTML="<i class='fa fa-minus'></i>";
                                tableAccompRemove.onclick=()=>{
                                    const indexAccomp=accomps.indexOf(selectAccomp);
                                    const indexAccompID=accompsID.indexOf(selectAccomp.id);
                                    accomps.splice(indexAccomp, 1);
                                    accompsID.splice(indexAccompID, 1);
                                    tableAccomp.removeChild(document.getElementById("accompRowProd"+product.id+"Accomp"+selectAccomp.id));
                                }
                                tableAccompRemoveCol.appendChild(tableAccompRemove);
                                newRow.appendChild(tableAccompNom);
                                newRow.appendChild(tableAccompRemoveCol);
                                tableAccomp.appendChild(newRow);
                            }

                            accompSelectDiv.appendChild(select);
                            accompSelectDiv.appendChild(accompBouton);

                            const accompList=document.createElement("table");
                            accompList.className="table";
                            const accompListBody=document.createElement("tbody");
                            accompListBody.id="accompProd"+product.id;
                            accompList.appendChild(accompListBody);

                            // Create the outer div for the textarea
                            const formFloatingDiv = document.createElement('div');
                            formFloatingDiv.className = 'form-floating';

                            // Create the textarea element
                            const textarea = document.createElement('textarea');
                            textarea.className = 'form-control';
                            textarea.placeholder = '';
                            textarea.id = 'notesArea'+product.id;
                            textarea.style.height = '150px';

                            // Create the label for the textarea
                            const textareaLabel = document.createElement('label');
                            textareaLabel.setAttribute('for', 'notesArea'+product.id);
                            textareaLabel.textContent = 'Notes';

                            // Append the textarea and its label to the form-floating div
                            formFloatingDiv.appendChild(textarea);
                            formFloatingDiv.appendChild(textareaLabel);

                            modalBody.appendChild(rowDiv);
                            modalBody.appendChild(labelAccomp);
                            modalBody.appendChild(accompSelectDiv);
                            modalBody.appendChild(accompList);
                            modalBody.appendChild(formFloatingDiv);

                            // Create the modal-footer div
                            const modalFooter = document.createElement('div');
                            modalFooter.className = 'modal-footer';

                            // Create the Close button for the footer
                            const closeFooterButton = document.createElement('button');
                            closeFooterButton.type = 'button';
                            closeFooterButton.className = 'btn btn-secondary';
                            closeFooterButton.setAttribute('data-bs-dismiss', 'modal');
                            closeFooterButton.textContent = 'Annuler';

                            // Create the Save changes button for the footer
                            const saveButton = document.createElement('button');
                            saveButton.type = 'button';
                            saveButton.className = 'btn btn-primary';
                            saveButton.textContent = 'Confirmer';
                            // saveButton.setAttribute('data-bs-dismiss', 'modal');
                            saveButton.onclick=()=>{
                                const qte=document.getElementById("inputQuantite"+product.id).value;
                                const notes=document.getElementById("notesArea"+product.id).value;
                                const newAccomps=cloneArr(accomps);
                                const newAccompsID=cloneArr(accompsID);
                                addCommande(commandes, product, qte, notes, newAccomps, newAccompsID);
                                let toSubmit=JSON.stringify(commandes);
                                submitCommandes.value=toSubmit;
                                orderList.innerHTML="";
                                // // add row to order list
                                // const olderOrders=document.getElementsByClassName("new-order");
                                // for(const o of olderOrders){
                                //     orderList.removeChild(o);
                                // }
                                // const orderRow=document.createElement("tr");
                                // orderRow.setAttribute("id", "orderCmd"+product.id);
                                // orderRow.className="new-order";
                                // const orderQte=document.createElement("th");
                                // orderQte.setAttribute("scope", "row");
                                // orderQte.textContent=commandes[commandes.length-1].quantite;
                                // const orderProd=document.createElement("td");
                                // orderProd.textContent=commandes[commandes.length-1].produit.nom+" "+commandes[commandes.length-1].notes;
                                // const orderNote=document.createElement("td");
                                // const ulElement = document.createElement('ul');
                                // ulElement.style.listStyle="none";
                                // // Loop through the accompagnements array
                                // for (let j = 0; j < commandes[commandes.length-1].accompagnements.length; j++) {
                                //     // Create a <li> element for each accompagnement
                                //     const liElement = document.createElement('li');
                                    
                                //     // Set the text content of the <li> element
                                //     liElement.textContent = commandes[commandes.length-1].accompagnements[j].nom;
                                    
                                //     // Append the <li> element to the <ul> element
                                //     ulElement.appendChild(liElement);
                                // }
                                // orderNote.appendChild(ulElement);

                                // const orderAddCol=document.createElement("td");
                                // const orderAdd=document.createElement("button");
                                // orderAdd.className="btn btn-primary w-100";
                                // orderAdd.setAttribute("type", "button");
                                // orderAdd.innerHTML="<i class='fa fa-plus'></i>";
                                // orderAdd.onclick=()=>{
                                //     commandes[commandes.length-1].quantite++;
                                //     toSubmit=JSON.stringify(commandes);
                                //     submitCommandes.value=toSubmit;
                                //     orderQte.textContent=commandes[commandes.length-1].quantite;
                                // }
                                // const orderRemove=document.createElement("button");
                                // orderRemove.className="btn btn-danger w-100";
                                // orderRemove.setAttribute("type", "button");
                                // orderRemove.innerHTML="<i class='fa fa-minus'></i>";
                                // orderRemove.onclick=()=>{
                                //     if(commandes[commandes.length-1].quantite>0){
                                //         commandes[commandes.length-1].quantite--;
                                //         toSubmit=JSON.stringify(commandes);
                                //         submitCommandes.value=toSubmit;
                                //         orderQte.textContent=commandes[commandes.length-1].quantite;
                                //     }
                                // }
                                // orderList.innerHTML="";
                                // add row to order list
                                for(let i=0;i<commandes.length;i++){
                                    const orderRow=document.createElement("tr");
                                    orderRow.setAttribute("id", "orderCmd"+product.id);
                                    orderRow.className="new-order";
                                    const orderQte=document.createElement("th");
                                    orderQte.setAttribute("scope", "row");
                                    orderQte.textContent=commandes[i].quantite;
                                    const orderProd=document.createElement("td");
                                    orderProd.textContent=commandes[i].produit.nom+" "+commandes[i].notes;
                                    const orderNote=document.createElement("td");
                                    const ulElement = document.createElement('ul');
                                    ulElement.style.listStyle="none";
                                    // Loop through the accompagnements array
                                    for (let j = 0; j < commandes[i].accompagnements.length; j++) {
                                        // Create a <li> element for each accompagnement
                                        const liElement = document.createElement('li');
                                        
                                        // Set the text content of the <li> element
                                        liElement.textContent = commandes[i].accompagnements[j].nom;
                                        
                                        // Append the <li> element to the <ul> element
                                        ulElement.appendChild(liElement);
                                    }
                                    orderNote.appendChild(ulElement);

                                    const orderAddCol=document.createElement("td");
                                    const orderAdd=document.createElement("button");
                                    orderAdd.className="btn btn-primary w-100";
                                    orderAdd.setAttribute("type", "button");
                                    orderAdd.innerHTML="<i class='fa fa-plus'></i>";
                                    orderAdd.onclick=()=>{
                                        commandes[i].quantite++;
                                        toSubmit=JSON.stringify(commandes);
                                        submitCommandes.value=toSubmit;
                                        orderQte.textContent=commandes[i].quantite;
                                    }
                                    const orderRemove=document.createElement("button");
                                    orderRemove.className="btn btn-danger w-100";
                                    orderRemove.setAttribute("type", "button");
                                    orderRemove.innerHTML="<i class='fa fa-minus'></i>";
                                    orderRemove.onclick=()=>{
                                        if(commandes[i].quantite>0){
                                            commandes[i].quantite--;
                                            toSubmit=JSON.stringify(commandes);
                                            submitCommandes.value=toSubmit;
                                            orderQte.textContent=commandes[i].quantite;
                                        }
                                    }
                                    orderAddCol.appendChild(orderAdd);
                                    orderAddCol.appendChild(orderRemove);
                                    orderRow.appendChild(orderQte);
                                    orderRow.appendChild(orderProd);
                                    orderRow.appendChild(orderNote);
                                    orderRow.appendChild(orderAddCol);
                                    orderList.appendChild(orderRow);
                                }
                                // orderAddCol.appendChild(orderAdd);
                                // orderAddCol.appendChild(orderRemove);
                                // orderRow.appendChild(orderQte);
                                // orderRow.appendChild(orderProd);
                                // orderRow.appendChild(orderNote);
                                // orderRow.appendChild(orderAddCol);
                                // orderList.appendChild(orderRow);
                                // for(let i=0;i<commandes.length;i++){
                                // }
                                // alert
                                const alert=document.createElement("div");
                                alert.className="alert alert-success w-100";
                                alert.setAttribute("role", "alert");
                                alert.textContent=qte+" "+product.nom+" "+notes;
                                modalFooter.appendChild(alert);
                                setTimeout(()=>{
                                    modalFooter.removeChild(alert);
                                }, 1000);
                            }

                            // Append the buttons to the modal-footer
                            modalFooter.appendChild(closeFooterButton);
                            modalFooter.appendChild(saveButton);

                            // Append all parts to modal-content
                            modalContent.appendChild(modalHeader);
                            modalContent.appendChild(modalBody);
                            modalContent.appendChild(modalFooter);

                            // Append modal-content to modal-dialog
                            modalDialog.appendChild(modalContent);

                            // Append modal-dialog to the modal
                            modal.appendChild(modalDialog);

                            row.appendChild(colonneNom);
                            row.appendChild(colonneStock);
                            row.appendChild(bouton);
                            row.appendChild(modal);
                            table.appendChild(row);
                        });
                    }

                    const ip=/*[[${ip}]]*/"";
                    const resetCache=/*[[${resetcache}]]*/"";
                    const receiveNotify=/*[[${receivenotify}]]*/"";
                    const commande=/*[[${commande}]]*/{};
                    const indicePagination=/*[[${indicepagination}]]*/0;
                    const table=/*[[${table}]]*/"";
                    const stompclient=new StompJs.Client({
                        brokerURL:'ws://'+ip+':8080/messaging'
                    });
                    stompclient.activate();
                    function notifierSuperviseurModification(envoicommande){
                        stompclient.publish({
                            destination:"/makay/modifier-commande",
                            body:JSON.stringify(envoicommande)
                        });
                    }
                    function redirigerVersResetCache(){
                        window.location.href="http://"+ip+":8080/"+resetCache;
                    }
                    function receiveNotificationRedirect(){
                        stompclient.subscribe("/notify/"+receiveNotify, (message)=>{
                            redirigerVersResetCache();
                        });
                    }
                    stompclient.onConnect=(frame)=>{
                        receiveNotificationRedirect();
                    }
                    window.onbeforeunload=()=>{
                        stompclient.deactivate();
                    }
                    const apiActualiserCache="http://"+ip+":8080/actualiser-cache-serveur";
                    function envoiCommandeFonction(commande, commandes, utilisateur, sessionid, indicePagination, table){
                        let montant=commande.montant;
                        for(let i=0;i<commandes.length;i++){
                            montant+=commandes[i].produit.prix*commandes[i].quantite;
                        }
                        let commandeToSend=commande;
                        commandeToSend.montant=montant;
                        let commandeFilles=[];
                        for(let i=0;i<commandes.length;i++){
                            if(commandes[i].quantite==0){
                                continue;
                            }
                            const newObj={
                                id:null,
                                commande:commandeToSend,
                                produit:commandes[i].produit,
                                pu:commandes[i].produit.prix,
                                quantite:commandes[i].quantite,
                                notes:commandes[i].notes,
                                accompagnements:commandes[i].accompagnements,
                                montant:commandes[i].produit.prix*commandes[i].quantite
                            };
                            commandeFilles.push(newObj);
                        }
                        const envoicommande={
                            utilisateur:utilisateur,
                            sessionid:sessionid,
                            commande:commandeToSend,
                            commandeFilles:commandeFilles
                        };
                        const alerteEnvoye=document.getElementById("alerte-envoye");
                        if(commandeFilles.length==0){
                            const alert=document.createElement("div");
                            alert.className="alert alert-danger alert-dismissible fade show w-100";
                            alert.setAttribute("role", "alert");
                            alert.textContent="Commande vide";
                            alerteEnvoye.appendChild(alert);
                            return;
                        }
                        console.log(envoicommande);
                        const api="http://"+ip+":8080/modifier-commande";
                        const loadingEnvoiCommande=document.getElementById("loading-envoi-commande");
                        loadingEnvoiCommande.style.display="block";
                        fetch(api, {
                            method:"POST",
                            headers:{
                                "Content-type":"application/json"
                            },
                            body:JSON.stringify({restdata:JSON.stringify(envoicommande)})
                        }).then((response)=>{
                            return response.json();
                        }).then((data)=>{
                            loadingEnvoiCommande.style.display="none";
                            if(data.code===0){
                                const alert=document.createElement("div");
                                alert.className="alert alert-danger alert-dismissible show w-100";
                                alert.setAttribute("role", "alert");
                                alert.innerHTML=data.message;
                                const button = document.createElement('button');
                                button.type = 'button';
                                button.className = 'btn-close';
                                button.setAttribute('data-bs-dismiss', 'alert');
                                button.setAttribute('aria-label', 'Close');
                                alert.appendChild(button);
                                alerteEnvoye.appendChild(alert);
                                return;
                            }
                            for(let i=0;i<data.donnees.ids.length;i++){
                                envoicommande.commandeFilles[i].id=data.donnees.ids[i];
                            }
                            notifierSuperviseurModification(envoicommande);
                            let urlAddOnIndice="indice_actu="+indicePagination;
                            let urlAddOnTable="table="+table;
                            let urlAddOn=urlAddOnIndice;
                            if(indicePagination=="null"&&table=="null"){
                                urlAddOn="";
                            }else if(table!=="null"){
                                urlAddOn=urlAddOn+"&"+urlAddOnTable;
                            }else if(table!=="null"&&indicePagination==="null"){
                                urlAddOn=urlAddOnTable;
                            }
                            fetch(apiActualiserCache,{
                                method:"post"
                            });
                            window.location.href="http://"+ip+":8080/liste-commande?"+urlAddOn;
                        });
                    }

                    const envoyerCommande=document.getElementById("envoyer-commande");
                    envoyerCommande.addEventListener("click", ()=>{
                        envoiCommandeFonction(commande, commandes, utilisateur, sessionid, indicePagination, table)
                    });
                    const actualiserCache=document.getElementById("actualiser-cache");
                    actualiserCache.onclick=()=>{
                        fetch(apiActualiserCache,{
                            method:"post"
                        }).then(()=>{
                            window.location.reload();
                        })
                    }
                    /*]]*/
                </script>
            </div>
        </div>
    </div>
</div>