<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div id="alerte-envoye"></div>
                <h1>Offert/Suppression</h1>
                <ul>
                   <li style="font-weight: bold;" th:text="${commande.recupererPlaceLabel()}"></li>
                   <li style="font-weight: bold;" th:text="'Serveur : '+${commande.utilisateur.nom}"></li>
                   <li style="font-weight: bold;" th:text="${commande.recupererHeure()}"></li>
                   <li style="font-weight: bold;" th:text="'Montant : '+${commande.recupererMontantString()}"></li>
                   <li style="font-weight: bold;" th:text="'Reste à payer : '+${commande.recupererResteAPayerString()}"></li>
                </ul>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Quantite initiale</th>
                            <th>Quantité restante</th>
                            <th>Qte à offrir/annuler</th>
                            <th>Commande</th>
                            <th>Accomp.</th>
                            <th>Prix unitaire</th>
                            <th>Montant</th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="cf:${commande.commandeFilles}">
                            <td th:text="${cf.quantite}"></td>
                            <td th:text="${cf.quantiteRestante}"></td>
                            <td><input type="number" min="1" th:max="${cf.quantite}" th:id="'quantite-commandefille'+${cf.id}" th:value="${cf.quantite}"></td>
                            <td th:text="${cf.produit.nom}+' '+${cf.notes}"></td>
                            <td><ul>
                                <li th:each="cfa:${cf.accompagnements}" th:text="${cfa.nom}"></li>        
                            </ul></td>
                            <td th:text="${cf.recupererPUString()}"></td>
                            <td th:text="${cf.recupererMontantString()}"></td>
                            <td><button class="btn btn-success action-button" th:data-idcommandefille="${cf.id}" th:data-action="${offert}">Offert</button></td>
                            <td><button class="btn btn-danger action-button" th:data-idcommandefille="${cf.id}" th:data-action="${annulee}">Suppression</button></td>
                            <td><img th:id="'loading-commandefille'+${cf.id}" th:src="@{img/loading.gif}" width="25" alt="loading" style="display: none;"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h1>Actions effectuées</h1>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Date et heure</th>
                            <th>Quantité</th>
                            <th>Commande</th>
                            <th>Montant</th>
                            <th>Action</th>
                            <th></th>
                        </tr>
                        <tr th:each="a:${actions}">
                            <td th:text="${a.recupererDateHeureString()}"></td>
                            <td th:text="${a.quantite}"></td>
                            <td th:text="${a.recupererCommandeLabel()}"></td>
                            <td th:text="${a.recupererMontantString()}"></td>
                            <td th:text="${a.recupererActionString()}" th:style="'background-color:'+${a.recupererCouleurString()}"></td>
                            <td><button class="btn btn-danger annuler-action-commande" th:data-idaction="${a.id}" type="button"><i class="fa-solid fa-ban"></i>Annuler</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const utilisateur=/*[[${utilisateur}]]*/{};
        const sessionid=/*[[${sessionid}]]*/"";
        const ip=/*[[${ip}]]*/"";
        const api="http://"+ip+":8080/action-superviseur";

        const actionButtons=document.getElementsByClassName("action-button");
        const alerteEnvoye=document.getElementById("alerte-envoye");
        for(let i=0;i<actionButtons.length;i++){
            const idcommandefille=actionButtons[i].dataset.idcommandefille;
            const action=actionButtons[i].dataset.action;
            actionButtons[i].onclick=()=>{
                const loading=document.getElementById("loading-commandefille"+idcommandefille);
                loading.style.display="block";
                const quantite=document.getElementById("quantite-commandefille"+idcommandefille).value;
                const envoiAction={
                    utilisateur:utilisateur,
                    sessionid:sessionid,
                    actionSuperviseur:{
                        commandeFille:{id:idcommandefille},
                        quantite:quantite,
                        action:action
                    }
                }
                fetch(api, {
                    method:"post",
                    headers:{
                        "Content-type":"application/json"
                    },
                    body:JSON.stringify({restdata:JSON.stringify(envoiAction)})
                }).then((response)=>{return response.json()})
                .then((data)=>{
                    loading.style.display="none";
                    if(data.code===0){
                        const alert=document.createElement("div");
                        alert.className="alert alert-danger alert-dismissible show w-100";
                        alert.setAttribute("role", "alert");
                        alert.textContent=data.message;
                        const button = document.createElement('button');
                        button.type = 'button';
                        button.className = 'btn-close';
                        button.setAttribute('data-bs-dismiss', 'alert');
                        button.setAttribute('aria-label', 'Close');
                        alert.appendChild(button);
                        alerteEnvoye.appendChild(alert);
                        return;
                    }
                    notifierActionSuperviseur(envoiAction);
                    if(data.donnees.estTermine==true){
                        window.location.href="http://"+ip+":8080/monitoring-des-serveurs";
                    }else{
                        location.reload();
                    }
                });
            }
        }
        const stompclient=new StompJs.Client({
            brokerURL:'ws://'+ip+':8080/messaging'
        });
        stompclient.activate();
        window.onbeforeunload=()=>{
            stompclient.deactivate();
        }
        function redirigerVersResetCache(){
            window.location.href="http://"+ip+":8080/reset-cache-superviseur";
        }
        function receiveNotificationRedirect(){
            stompclient.subscribe("/notify/receive-notify-redirect-superviseur", (message)=>{
                redirigerVersResetCache();
            });
        }
        stompclient.onConnect=(frame)=>{
            receiveNotificationRedirect();
        }
        function notifierActionSuperviseur(envoiAction){
            stompclient.publish({
                destination:"/makay/action-superviseur",
                body:JSON.stringify(envoiAction)
            });
        }
        const annulerActionButtons=document.getElementsByClassName("annuler-action-commande");
        const apiAnnulerAction="http://"+ip+":8080/annuler-action";
        for(let i=0;i<annulerActionButtons.length;i++){
            const idaction=annulerActionButtons[i].dataset.idaction;
            annulerActionButtons[i].onclick=()=>{
                const envoiAnnulation={
                    utilisateur:utilisateur,
                    sessionid:sessionid,
                    annulationAction:{
                        action:{id:idaction}
                    }
                }
                fetch(apiAnnulerAction, {
                    method:"post",
                    headers:{
                        "Content-type":"application/json"
                    },
                    body:JSON.stringify({restdata:JSON.stringify(envoiAnnulation)})
                }).then((response)=>response.json())
                .then((data)=>{
                    if(data.code===0){
                        const alert=document.createElement("div");
                        alert.className="alert alert-danger alert-dismissible show w-100";
                        alert.setAttribute("role", "alert");
                        alert.textContent=data.message;
                        const button = document.createElement('button');
                        button.type = 'button';
                        button.className = 'btn-close';
                        button.setAttribute('data-bs-dismiss', 'alert');
                        button.setAttribute('aria-label', 'Close');
                        alert.appendChild(button);
                        alerteEnvoye.appendChild(alert);
                        return;
                    }
                    notifierAnnulerAction();
                    window.location.reload();
                });
            }
        }
        function notifierAnnulerAction(){
            stompclient.publish({
                destination:"/makay/notify-annuler-action"
            });
        }
        /*]]*/
    </script>
</div>