<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <style>
                .gridd{
                    display: grid;
                    grid-template-columns: auto auto auto;
                }
                .place{
                    border: solid 1px;
                    padding: 10px;
                    margin-top: 20px;
                    color: white;
                    font-weight: bold;
                }
                .place-bar{
                    border-radius: 100%;
                    background-color: crimson;
                }
                .place-table{
                    background-color: #a98146;
                }
                .place-terrasse{
                    background-color:mediumseagreen;
                }
            </style>
            <div class="bg-secondary rounded h-100 p-4">
                <div class="alerte-envoye"></div>
                <h1>Dispatch du staff aux tables respectives</h1>
                <hr>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr th:each="r:${rangees}">
                                <td><a href="#" th:text="${r.nom}" data-bs-toggle="modal" th:data-bs-target="'#rangeeModal'+${r.id}"></a></td>
                                <div class="modal" th:id="'rangeeModal'+${r.id}" tabindex="-1" th:aria-labelledby="'rangeeModalLabel'+${r.id}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" th:id="'rangeeModalLabel'+${r.id}" th:text="${r.nom}"></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body gridd">
                                            <div th:each="p:${r.places}" th:class="'place '+${p.classeHTML}" th:text="${p.nom}"></div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <td><ul th:id="'listeStaffRangee'+${r.id}">
                                    <li th:each="e:${r.utilisateurs}" th:id="'listeStaffRangee'+${r.id}+'User'+${e.id}" th:text="${e.nom}"></li>
                                </ul></td>
                                <td>
                                    <button type="button" class="btn btn-success w-100" data-bs-toggle="modal" th:data-bs-target="'#ajoutDispatchModal'+${r.id}">Ajouter</button>
                                    <div class="modal" th:id="'ajoutDispatchModal'+${r.id}" tabindex="-1" th:aria-labelledby="'ajoutDispatchModalLabel'+${r.id}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" th:id="'ajoutDispatchModalLabel'+${r.id}" th:text="'Ajouter un staff à '+${r.nom}"></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <tbody>
                                                        <tr th:each="u:${utilisateurs}">
                                                            <td th:text="${u.nom}"></td>
                                                            <td>
                                                                <button type="button" class="btn btn-success w-100 ajout-dispatch" th:data-idrangee="${r.id}" th:data-idutilisateur="${u.id}" th:data-nomutilisateur="${u.nom}"><i class="fa-solid fa-plus"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning w-100" data-bs-toggle="modal" th:data-bs-target="'#modifDispatchModal'+${r.id}">Modifier</button>
                                    <div class="modal fade" th:id="'modifDispatchModal'+${r.id}" tabindex="-1" th:aria-labelledby="'modifDispatchModalLabel'+${r.id}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                            <h1 class="modal-title fs-5" th:id="'modifDispatchModalLabel'+${r.id}" th:text="'Retirer un staff de '+${r.nom}"></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <table class="table">
                                                    <tbody th:id="'dispatchRow'+${r.id}">
                                                        <tr th:each="u:${r.utilisateurs}" th:id="'modifDispatchRow'+${r.id}+'-'+${u.id}">
                                                            <td th:text="${u.nom}"></td>
                                                            <td>
                                                                <button type="button" class="btn btn-danger w-100 modif-dispatch" th:id="'modifDispatchButtonRangee'+${r.id}+'User'+${u.id}" th:data-idrangee="${r.id}" th:data-idutilisateur="${u.id}"><i class="fa-solid fa-minus"></i></button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="offset-3 col-6">
                        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#miseAJourModalDispatch">Mettre à jour</button>
                        <div class="modal fade" id="miseAJourModalDispatch" tabindex="-1" aria-labelledby="miseAJourModalDispatchLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h1 class="modal-title fs-5" id="miseAJourModalDispatchLabel">Dispatch du staff</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p>Mettre à jour le dispatch du staff?</p>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                                <button type="button" class="btn btn-success" id="confirmer-dispatch">Confirmer</button>
                                </div>
                                <img id="loading-envoi-commande" th:src="@{img/loading.gif}" width="75" alt="loading" style="display: none;">
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const utilisateur=/*[[${utilisateur}]]*/{};
        const sessionid=/*[[${sessionid}]]*/"";
        const ip=/*[[${ip}]]*/"";
        const rangees=/*[[${rangees}]]*/[];
        const offID=/*[[${offid}]]*/0;
        const utilisateurs=/*[[${utilisateurs}]]*/[];
        let dispatchs=[];

        for(let i=0;i<utilisateurs.length;i++){
            let free=true;
            for(let j=0;j<rangees.length;j++){
                for(let k=0;k<rangees[j].utilisateurs.length;k++){
                    if(utilisateurs[i].id==rangees[j].utilisateurs[k].id){
                        free=false;
                        break;
                    }
                }
                if(free===false){
                    break;
                }
            }
            if(free){
                dispatchs.push({rangee:{id:offID}, utilisateur:{id:utilisateurs[i].id}});
            }
        }

        function removeDispatchRow(modifDispatch, dispatchs){
            const idrangee=modifDispatch.dataset.idrangee;
            const idutilisateur=modifDispatch.dataset.idutilisateur;
            for(let j=0;j<dispatchs.length;j++){
                if(dispatchs[j].rangee.id==idrangee&&dispatchs[j].utilisateur.id==idutilisateur){
                    dispatchs.splice(j, 1);
                    break;
                }
            }
            let free=true;
            for(let j=0;j<dispatchs.length;j++){
                if(idutilisateur==dispatchs[j].utilisateur.id){
                    free=false;
                    break;
                }
            }
            if(free){
                dispatchs.push({rangee:{id:offID}, utilisateur:{id:idutilisateur}});
            }
            const dispatchRow=document.getElementById("dispatchRow"+idrangee);
            const toRemove=document.getElementById("modifDispatchRow"+idrangee+"-"+idutilisateur);
            dispatchRow.removeChild(toRemove);
            const listeStaffRangee=document.getElementById("listeStaffRangee"+idrangee);
            const listeStaffRangeeLi=document.getElementById("listeStaffRangee"+idrangee+"User"+idutilisateur);
            listeStaffRangee.removeChild(listeStaffRangeeLi);
        }

        const ajoutDispatch=document.getElementsByClassName("ajout-dispatch");
        for(let i=0;i<ajoutDispatch.length;i++){
            ajoutDispatch[i].onclick=()=>{
                const idrangee=ajoutDispatch[i].dataset.idrangee;
                const idutilisateur=ajoutDispatch[i].dataset.idutilisateur;
                const nomutilisateur=ajoutDispatch[i].dataset.nomutilisateur;
                for(let j=0;j<dispatchs.length;j++){
                    if(dispatchs[j].rangee.id==idrangee&&dispatchs[j].utilisateur.id==idutilisateur){
                        return;
                    }
                    if(dispatchs[j].rangee.id==offID&&dispatchs[j].utilisateur.id==idutilisateur){
                        dispatchs.splice(j, 1);
                        j--;
                    }
                }
                dispatchs.push({rangee:{id:idrangee}, utilisateur:{id:idutilisateur}});

                const modifDispatchRow=document.createElement("tr");
                modifDispatchRow.id="modifDispatchRow"+idrangee+"-"+idutilisateur;
                const modifDispatchRowNom=document.createElement("td");
                modifDispatchRowNom.textContent=nomutilisateur;
                const modifDispatchRowButtonCol=document.createElement("td");
                const modifDispatchRowButton=document.createElement("button");
                modifDispatchRowButton.className="btn btn-danger w-100 modif-dispatch";
                modifDispatchRowButton.setAttribute("data-idrangee", idrangee);
                modifDispatchRowButton.setAttribute("data-idutilisateur", idutilisateur);
                const modifDispatchRowButtonIcon=document.createElement("i");
                modifDispatchRowButtonIcon.className="fa-solid fa-minus";

                modifDispatchRowButton.appendChild(modifDispatchRowButtonIcon);
                modifDispatchRowButtonCol.appendChild(modifDispatchRowButton);
                modifDispatchRow.appendChild(modifDispatchRowNom);
                modifDispatchRow.appendChild(modifDispatchRowButtonCol);

                const dispatchRow=document.getElementById("dispatchRow"+idrangee);
                dispatchRow.appendChild(modifDispatchRow);
                
                modifDispatchRowButton.addEventListener("click", ()=>{
                    removeDispatchRow(modifDispatchRowButton, dispatchs)
                });

                const listeStaffRangee=document.getElementById("listeStaffRangee"+idrangee);
                const listeStaffRangeeLi=document.createElement("li");
                listeStaffRangeeLi.id="listeStaffRangee"+idrangee+"User"+idutilisateur;
                listeStaffRangeeLi.textContent=nomutilisateur;
                listeStaffRangee.appendChild(listeStaffRangeeLi);
            }
        }

        for(let i=0;i<rangees.length;i++){
            for(let j=0;j<rangees[i].utilisateurs.length;j++){
                dispatchs.push({rangee:{id:rangees[i].id}, utilisateur:{id:rangees[i].utilisateurs[j].id}});
                const modifDispatchButton=document.getElementById("modifDispatchButtonRangee"+rangees[i].id+"User"+rangees[i].utilisateurs[j].id);
                modifDispatchButton.addEventListener("click", ()=>{
                    removeDispatchRow(modifDispatchButton, dispatchs)
                });
            }
        }

        const stompclient=new StompJs.Client({
            brokerURL:'ws://'+ip+':8080/messaging'
        });
        stompclient.activate();
        function notifierToutUtilisateur(){
            stompclient.publish({
                destination:"/makay/notify-redirect-superviseur"
            });
            stompclient.publish({
                destination:"/makay/notify-redirect-serveur"
            });
            stompclient.publish({
                destination:"/makay/notify-redirect-barman"
            });
            stompclient.publish({
                destination:"/makay/notify-redirect-caissier"
            });
        }
        function redirigerVersResetCache(){
            window.location.href="http://"+ip+":8080/reset-cache-superviseur";
        }
        function receiveNotificationRedirect(){
            stompclient.subscribe("/notify/receive-notify-redirect-superviseur", (message)=>{
                redirigerVersResetCache();
            });
        }
        stompclient.onConnect=(frame)=>{
            receiveNotificationRedirect();
        }
        window.onbeforeunload=()=>{
            stompclient.deactivate();
        }

        const confirmerDispatch=document.getElementById("confirmer-dispatch");
        let toSubmit;
        confirmerDispatch.onclick=()=>{
            toSubmit=JSON.stringify({utilisateur:utilisateur, dispatchs:dispatchs, sessionid:sessionid});
            const api="http://"+ip+":8080/dispatch-tables-staff";
            const loadingEnvoiCommande=document.getElementById("loading-envoi-commande");
            loadingEnvoiCommande.style.display="block";
            fetch(api, {
                method: "POST",
                headers:{
                    "Content-type":"application/json"
                },
                body: JSON.stringify({restdata:toSubmit})
            }).then((response)=>{return response.json()})
            .then((data)=>{
                loadingEnvoiCommande.style.display="none";
                if(data.code==0){
                    const alerteEnvoye=document.getElementById("alerte-envoye");
                    const alert=document.createElement("div");
                    alert.className="alert alert-danger w-100";
                    alert.setAttribute("role", "alert");
                    alert.textContent=data.message;
                    alerteEnvoye.appendChild(alert);
                    return;
                }
                notifierToutUtilisateur();
            });
        }
        /*]]*/
    </script>
</div>