<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h1>Dispatch du staff aux tables respectives</h1>
                <hr>
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>Bar</td>
                                <td><ul>
                                    <li>Jean</li>
                                    <li>Jules</li>
                                    <li>Marc</li>
                                </ul></td>
                                <td>
                                    <button type="button" class="btn btn-success w-100">Ajouter</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning w-100">Modifier</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Bar</td>
                                <td><ul>
                                    <li>Jean</li>
                                    <li>Jules</li>
                                    <li>Marc</li>
                                </ul></td>
                                <td>
                                    <button type="button" class="btn btn-success w-100">Ajouter</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning w-100">Modifier</button>
                                </td>
                            </tr>
                            <tr>
                                <td>Bar</td>
                                <td><ul>
                                    <li>Jean</li>
                                    <li>Jules</li>
                                    <li>Marc</li>
                                </ul></td>
                                <td>
                                    <button type="button" class="btn btn-success w-100">Ajouter</button>
                                </td>
                                <td>
                                    <button type="button" class="btn btn-warning w-100">Modifier</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="offset-3 col-6">
                        <button type="button" class="btn btn-primary">Mettre à jour</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>