<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <div id="alerte-envoye"></div>
                <h1>Offrir une remise</h1>
                <ul>
                   <li style="font-weight: bold;" th:text="${commande.recupererPlaceLabel()}"></li>
                   <li style="font-weight: bold;" th:text="'Serveur : '+${commande.utilisateur.nom}"></li>
                   <li style="font-weight: bold;" th:text="${commande.recupererHeure()}"></li>
                   <li style="font-weight: bold;" th:text="'Montant : '+${commande.recupererMontantString()}"></li>
                   <li style="font-weight: bold;" th:text="'Reste à payer : '+${commande.recupererResteAPayerString()}"></li>
                </ul>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Quantite</th>
                            <th>Quantité restante</th>
                            <th>Commande</th>
                            <th>Accomp.</th>
                            <th>Prix unitaire</th>
                            <th>Montant</th>
                            <th>Qte pour appliquer la remise</th>
                            <th>Nouveau prix unitaire</th>
                            <th>Montant de la remise</th>
                            <th>Taux</th>
                            <th></th>
                        </tr>
                        <tr th:each="cf:${commande.commandeFilles}">
                            <td th:text="${cf.quantite}"></td>
                            <td th:text="${cf.quantiteRestante}"></td>
                            <td th:text="${cf.produit.nom}+' '+${cf.notes}"></td>
                            <td><ul>
                                <li th:each="cfa:${cf.accompagnements}" th:text="${cfa.nom}"></li>        
                            </ul></td>
                            <td th:text="${cf.recupererPUString()}"></td>
                            <td th:text="${cf.recupererMontantString()}"></td>
                            <td><input type="number" class="champ-quantite" min="1" th:max="${cf.quantiteRestante}" th:id="'quantite-commandefille'+${cf.id}" th:value="${cf.quantiteRestante}"></td>
                            <td><input type="number" class="champ-montant" min="0" th:max="${cf.pu}" step="0.01" th:data-puinitial="${cf.pu}" th:id="'montant-commandefille'+${cf.id}" th:value="${cf.pu}"></td>
                            <td th:text="${cf.quantiteRestante*cf.pu}" th:id="'montant-remise-commandefille'+${cf.id}"></td>
                            <td><input type="number" min="0" max="100" step="0.01" th:id="'taux-remise-commandefille'+${cf.id}" value="0"></td>
                            <td><button class="btn btn-success remise-button" th:data-idcommandefille="${cf.id}">Remise</button></td>
                            <td><img th:id="'loading-commandefille'+${cf.id}" th:src="@{img/loading.gif}" width="25" alt="loading" style="display: none;"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h1>Remises</h1>
                <div class="table-responsive">
                    <table class="table">
                        <tr>
                            <th>Date et heure</th>
                            <th>Quantité</th>
                            <th>Commande</th>
                            <th>Ancien montant</th>
                            <th>Nouveau montant</th>
                            <th>Taux</th>
                            <th></th>
                        </tr>
                        <tr th:each="r:${remises}">
                            <td th:text="${r.recupererDateHeureString()}"></td>
                            <td th:text="${r.quantite}"></td>
                            <td th:text="${r.recupererCommandeLabel()}"></td>
                            <td th:text="${r.recupererAncienMontantString()}"></td>
                            <td th:text="${r.recupererNouveauMontantString()}"></td>
                            <td th:text="${r.recupererTaux()}"></td>
                            <td><button class="btn btn-danger annuler-remise-commande" th:data-idremise="${r.id}" type="button"><i class="fa-solid fa-ban"></i>Annuler</button></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const utilisateur=/*[[${utilisateur}]]*/{};
        const sessionid=/*[[${sessionid}]]*/"";
        const ip=/*[[${ip}]]*/"";
        const api="http://"+ip+":8080/remise";
        const alerteEnvoye=document.getElementById("alerte-envoye");
        const remiseButtons=document.getElementsByClassName("remise-button");
        const resetCache=/*[[${resetcache}]]*/"";
        const receiveNotify=/*[[${receivenotify}]]*/"";
        const stompclient=new StompJs.Client({
            brokerURL:'ws://'+ip+':8080/messaging'
        });
        stompclient.activate();
        function redirigerVersResetCache(){
            window.location.href="http://"+ip+":8080/"+resetCache;
        }
        function receiveNotificationRedirect(){
            stompclient.subscribe("/notify/"+receiveNotify, (message)=>{
                redirigerVersResetCache();
            });
        }
        stompclient.onConnect=(frame)=>{
            receiveNotificationRedirect();
        }
        window.onbeforeunload=()=>{
            stompclient.deactivate();
        }
        function notifierCaisse(envoiRemise){
            stompclient.publish({
                destination:"/makay/notify-remise",
                body:JSON.stringify(envoiRemise)
            });
        }
        for(let i=0;i<remiseButtons.length;i++){
            const idcommandefille=remiseButtons[i].dataset.idcommandefille;
            const quantite=document.getElementById("quantite-commandefille"+idcommandefille);
            const montantRemise=document.getElementById("montant-remise-commandefille"+idcommandefille);
            const tauxRemise=document.getElementById("taux-remise-commandefille"+idcommandefille);
            const montantInputRemise=document.getElementById("montant-commandefille"+idcommandefille);
            quantite.oninput=()=>{
                montantRemise.textContent=montantInputRemise.value*quantite.value;
            }
            montantInputRemise.oninput=()=>{
                tauxRemise.value=100-(montantInputRemise.value*100/montantInputRemise.dataset.puinitial);
                montantRemise.textContent=montantInputRemise.value*quantite.value;
            }
            tauxRemise.oninput=()=>{
                montantInputRemise.value=(100-tauxRemise.value)*montantInputRemise.dataset.puinitial/100;
                montantRemise.textContent=montantInputRemise.value*quantite.value;
            }
            remiseButtons[i].onclick=()=>{
                const loading=document.getElementById("loading-commandefille"+idcommandefille);
                loading.style.display="block";
                const qteCmdFille=document.getElementById("quantite-commandefille"+idcommandefille).value;
                const montantCmdFille=document.getElementById("montant-commandefille"+idcommandefille).value;
                const envoiRemise={
                    utilisateur:utilisateur,
                    sessionid:sessionid,
                    remise:{
                        commandeFille:{id:idcommandefille},
                        quantite:qteCmdFille,
                        nouveauMontant:montantCmdFille
                    }
                }
                fetch(api, {
                    method:"post",
                    headers:{
                        "Content-type":"application/json"
                    },
                    body:JSON.stringify({restdata:JSON.stringify(envoiRemise)})
                }).then((response)=>{return response.json()})
                .then((data)=>{
                    loading.style.display="none";
                    if(data.code===0){
                        const alert=document.createElement("div");
                        alert.className="alert alert-danger alert-dismissible show w-100";
                        alert.setAttribute("role", "alert");
                        alert.textContent=data.message;
                        const button = document.createElement('button');
                        button.type = 'button';
                        button.className = 'btn-close';
                        button.setAttribute('data-bs-dismiss', 'alert');
                        button.setAttribute('aria-label', 'Close');
                        alert.appendChild(button);
                        alerteEnvoye.appendChild(alert);
                        return;
                    }
                    notifierCaisse(envoiRemise);
                    if(data.donnees.estTermine==true){
                        window.location.href="http://"+ip+":8080/monitoring-des-serveurs";
                    }else{
                        location.reload();
                    }
                });
            }
        }
        const annulerremiseButtons=document.getElementsByClassName("annuler-remise-commande");
        const apiAnnulerremise="http://"+ip+":8080/annuler-remise";
        for(let i=0;i<annulerremiseButtons.length;i++){
            const idremise=annulerremiseButtons[i].dataset.idremise;
            annulerremiseButtons[i].onclick=()=>{
                const envoiAnnulation={
                    utilisateur:utilisateur,
                    sessionid:sessionid,
                    annulation:{
                        remise:{id:idremise}
                    }
                }
                fetch(apiAnnulerremise, {
                    method:"post",
                    headers:{
                        "Content-type":"application/json"
                    },
                    body:JSON.stringify({restdata:JSON.stringify(envoiAnnulation)})
                }).then((response)=>response.json())
                .then((data)=>{
                    if(data.code===0){
                        const alert=document.createElement("div");
                        alert.className="alert alert-danger alert-dismissible show w-100";
                        alert.setAttribute("role", "alert");
                        alert.textContent=data.message;
                        const button = document.createElement('button');
                        button.type = 'button';
                        button.className = 'btn-close';
                        button.setAttribute('data-bs-dismiss', 'alert');
                        button.setAttribute('aria-label', 'Close');
                        alert.appendChild(button);
                        alerteEnvoye.appendChild(alert);
                        return;
                    }
                    notifierAnnulerRemise();
                    window.location.reload();
                });
            }
        }
        function notifierAnnulerRemise(){
            stompclient.publish({
                destination:"/makay/notify-annuler-remise"
            });
        }
        /*]]*/
    </script>
</div>