<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded p-4">
            <form action="/tableau-bord">
                <fieldset class="row mb-3">
                    <legend class="col-form-label col-sm-2 pt-0">Date</legend>
                    <div class="col-sm-10">
                        <div class="row mb-3">
                            <label for="date-debut" class="col-sm-2 col-form-label">Du: </label>
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" name="dateDebut" th:value="${param.dateDebut}" id="date-debut">
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="date-fin" class="col-sm-2 col-form-label">Au: </label>
                            <div class="col-sm-10">
                                <input type="datetime-local" class="form-control" name="dateFin" th:value="${param.dateFin}" id="date-fin">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <div class="d-flex justify-content-end">
                    <button class="btn btn-primary" type="submit">Ok</button>
                </div>
            </form>
            </div>
        </div>
    </div>
    <br>
    <div class="row g-4">
            <!-- 
                - graphs
                    - par jour de la semaine entre 2 dates
                    - total entre deux dates
                        - montant
                        - offert
                        - suppression
                        - remise
                - classement articles chaque catégorie
                - classement tables ayant eu un service
            -->
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-line fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total chiffres d'affaires</p>
                    <h6 class="mb-0" th:text="${chiffre_totaux[0]}"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-bar fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total offerts</p>
                    <h6 class="mb-0" th:text="${chiffre_totaux[1]}"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-area fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total suppressions</p>
                    <h6 class="mb-0" th:text="${chiffre_totaux[2]}"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-3">
            <div class="bg-secondary rounded d-flex align-items-center justify-content-between p-4">
                <i class="fa fa-chart-pie fa-3x text-primary"></i>
                <div class="ms-3">
                    <p class="mb-2">Total remises</p>
                    <h6 class="mb-0" th:text="${chiffre_totaux[3]}"></h6>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Chiffres d'affaires</h6>
                <canvas id="chiffres-affaires"></canvas>
            </div>
        </div>
        <div class="col-sm-12 col-xl-6">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Paiements</h6>
                <canvas id="paiements"></canvas>
            </div>
        </div>
    </div>
    <br>
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded p-4">
                <h1>Produits les plus populaires durant cette période</h1>
                <form action="/tableau-bord" class="d-flex justify-content-between">
                    <input type="hidden" name="dateDebut" th:value="${param.dateDebut}">
                    <input type="hidden" name="dateFin" th:value="${param.dateFin}">
                    <select class="form-select form-select-sm mb-3" name="idcategorie" aria-label=".form-select-sm example">
                        <span th:if="${param.idcategorie!=null}" th:each="c:${categories}" th:switch="${c.id}">
                            <option th:case="${param.idcategorie}" th:value="${c.id}" th:text="${c.nom}" selected></option>
                            <option th:case="*" th:value="${c.id}" th:text="${c.nom}"></option>
                        </span>
                        <option th:unless="${param.idcategorie!=null}" th:each="c:${categories}" th:value="${c.id}" th:text="${c.nom}"></option>
                    </select>
                    <button class="btn btn-primary">Ok</button>
                </form>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th scope="col">Commandés</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="p:${chiffre_produit}">
                                <td th:text="${p.produit.nom}"></td>
                                <td th:text="${p.quantite}"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{/cdn/jquery-3.4.1.min.js}"></script>
    <script th:src="@{lib/chart/chart.min.js}"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const joursSemaine=/*[[${jours_semaine}]]*/[];
        const chiffresSemaine=/*[[${chiffre_semaine}]]*/[];
        const chiffrePaiements=/*[[${chiffre_paiements}]]*/{};
        const dataset=[];
        for(let i=0;i<chiffresSemaine.length;i++){
            dataset.push({
                label:chiffresSemaine[i].etiquette,
                data:chiffresSemaine[i].donnees,
                backgroundColor:chiffresSemaine[i].couleur
            });
        }

        var ctx1 = $("#chiffres-affaires").get(0).getContext("2d");
        var myChart1 = new Chart(ctx1, {
            type: "bar",
            data: {
                labels: joursSemaine,
                datasets:dataset
                },
            options: {
                responsive: true
            }
        });

        var ctx5 = $("#paiements").get(0).getContext("2d");
        var myChart5 = new Chart(ctx5, {
            type: "pie",
            data: {
                labels: chiffrePaiements.etiquettes,
                datasets: [{
                    backgroundColor: chiffrePaiements.couleurs,
                    data: chiffrePaiements.donnees
                }]
            },
            options: {
                responsive: true
            }
        });
        /*]]*/
    </script>
</div>