<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded p-4">
                <h2>Gestion des places</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="p:${places}">
                                <td th:text="${p.nom}"></td>
                                <td>
                                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" th:data-bs-target="'#supprPlace'+${p.id}">
                                        <i class="fa-solid fa-trash-can"></i>
                                    </button>
                                    <div class="modal fade" th:id="'supprPlace'+${p.id}" tabindex="-1" th:aria-labelledby="'supprPlaceLabel'+${p.id}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" th:id="'supprPlaceLabel'+${p.id}">Supprimer la table</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div th:id="'alerte-place'+${p.id}"></div>
                                                    Voulez-vous vraiment supprimer la table ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" th:data-idplace="${p.id}" class="btn btn-danger bouton-suppr-place">Confirmer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" th:href="'/places?indiceListe='+${indice_premier_liste}+'&indiceSuppr='+${indice_actu_suppr}" aria-label="Precedent">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <li th:class="'page-item '+${bouton_precedent_liste}"><a class="page-link" th:href="'/places?indiceListe='+${indice_precedent_liste}+'&indiceSuppr='+${indice_actu_suppr}" th:text="${indice_precedent_liste}"></a></li>
                            <li class="page-item disabled page-active"><a class="page-link" th:text="${indice_actu_liste}"></a></li>
                            <li th:class="'page-item '+${bouton_suivant_liste}"><a class="page-link" th:href="'/places?indiceListe='+${indice_suivant_liste}+'&indiceSuppr='+${indice_actu_suppr}" th:text="${indice_suivant_liste}"></a></li>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <li class="page-item">
                                <a class="page-link" th:href="'/places?indiceListe='+${indice_dernier_liste}+'&indiceSuppr='+${indice_actu_suppr}" aria-label="Suivant">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
                    <i class="fa-solid fa-plus"></i>Enregistrer une nouvelle place
                </button>
                <div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="addModalLabel">Enregistrer une nouvelle place</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="alerte-ajout"></div>
                                <div class="mb-3">
                                    <label for="nomChamp" class="form-label">Nom</label>
                                    <input type="text" class="form-control" id="nomChamp">
                                </div>
                                <select class="form-select form-select-sm mb-3" id="typePlaceChamp" aria-label=".form-select-sm example">
                                    <option th:each="tp:${types_places}" th:value="${tp.id}" th:text="${tp.nom}"></option>
                                </select>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" id="bouton-ajouter-place" class="btn btn-success">Enregistrer</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded p-4">
                <h2>Places supprimées</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Nom</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="p:${places_suppr}">
                                <td th:text="${p.nom}"></td>
                                <td>
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal" th:data-bs-target="'#restaurerPlace'+${p.id}">
                                        <i class="fa-solid fa-trash-arrow-up"></i>
                                    </button>
                                    <div class="modal fade" th:id="'restaurerPlace'+${p.id}" tabindex="-1" th:aria-labelledby="'restaurerPlaceLabel'+${p.id}" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" th:id="'restaurerPlaceLabel'+${p.id}">Restaurer la place</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <div th:id="'alerte-restaurer-place'+${p.id}"></div>
                                                    Voulez-vous vraiment restaurer le place ?
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                    <button type="button" th:data-idplace="${p.id}" class="btn btn-success bouton-restaurer-place">Confirmer</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination justify-content-center">
                            <li class="page-item">
                                <a class="page-link" th:href="'/places?indiceListe='+${indice_actu_liste}+'&indiceSuppr='+${indice_premier_suppr}" aria-label="Precedent">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <li th:class="'page-item '+${bouton_precedent_suppr}"><a class="page-link" th:href="'/places?indiceListe='+${indice_actu_liste}+'&indiceSuppr='+${indice_precedent_suppr}" th:text="${indice_precedent_suppr}"></a></li>
                            <li class="page-item disabled page-active"><a class="page-link" th:text="${indice_actu_liste}"></a></li>
                            <li th:class="'page-item '+${bouton_suivant_suppr}"><a class="page-link" th:href="'/places?indiceListe='+${indice_actu_liste}+'&indiceSuppr='+${indice_suivant_suppr}" th:text="${indice_suivant_suppr}"></a></li>
                            <li class="page-item disabled"><a class="page-link">...</a></li>
                            <li class="page-item">
                                <a class="page-link" th:href="'/places?indiceListe='+${indice_actu_liste}+'&indiceSuppr='+${indice_dernier_suppr}" aria-label="Suivant">
                                    <span aria-hidden="true">&raquo;</span>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const utilisateur=/*[[${utilisateur}]]*/{};
        const sessionid=/*[[${sessionid}]]*/"";
        const ip=/*[[${ip}]]*/"";
        const codeSuppr=/*[[${code_suppr}]]*/0;
        const codeRestaurer=/*[[${code_restaurer}]]*/0;
        const codeAjout=/*[[${code_ajout}]]*/0;

        function action(api, envoi, alerteEnvoye){
            fetch(api, {
                method:"post",
                headers:{
                    "Content-type":"application/json"
                },
                body:JSON.stringify({restdata:JSON.stringify(envoi)})
            }).then((response)=>response.json())
            .then((data)=>{
                if(data.code===0){
                    const alert=document.createElement("div");
                    alert.className="alert alert-danger alert-dismissible show w-100";
                    alert.setAttribute("role", "alert");
                    alert.textContent=data.message;
                    const button = document.createElement('button');
                    button.type = 'button';
                    button.className = 'btn-close';
                    button.setAttribute('data-bs-dismiss', 'alert');
                    button.setAttribute('aria-label', 'Close');
                    alert.appendChild(button);
                    alerteEnvoye.appendChild(alert);
                    return;
                }
                window.location.reload();
            });
        }

        const boutonSupprPlaces=document.getElementsByClassName("bouton-suppr-place");
        const apiSupprplace="http://"+ip+":8080/action-place";
        for(let i=0;i<boutonSupprPlaces.length;i++){
            const idplace=boutonSupprPlaces[i].dataset.idplace;
            const alerteEnvoye=document.getElementById("alerte-produit"+idplace);
            boutonSupprPlaces[i].onclick=()=>{
                const envoiSuppression={
                    utilisateur:utilisateur,
                    sessionid:sessionid,
                    donnees:{
                        idplace:idplace,
                        action:codeSuppr
                    }
                }
                action(apiSupprplace, envoiSuppression, alerteEnvoye);
            }
        }
        const boutonRestaurerPlace=document.getElementsByClassName("bouton-restaurer-place");
        const apiRestaurerUser="http://"+ip+":8080/action-place";
        for(let i=0;i<boutonRestaurerPlace.length;i++){
            const idplace=boutonRestaurerPlace[i].dataset.idplace;
            const alerteEnvoye=document.getElementById("alerte-restaurer-place"+idplace);
            boutonRestaurerPlace[i].onclick=()=>{
                const envoiRestaurer={
                    utilisateur:utilisateur,
                    sessionid:sessionid,
                    donnees:{
                        idplace:idplace,
                        action:codeRestaurer
                    }
                }
                action(apiRestaurerUser, envoiRestaurer, alerteEnvoye);
            }
        }
        const boutonAjouter=document.getElementById("bouton-ajouter-place");
        const apiAjouter="http://"+ip+":8080/action-place";
        boutonAjouter.onclick=()=>{
            const nom=document.getElementById("nomChamp").value;
            const typePlace=document.getElementById("typePlaceChamp").value;
            const alerteEnvoye=document.getElementById("alerte-ajout");
            const envoiAjout={
                utilisateur:utilisateur,
                sessionid:sessionid,
                donnees:{
                    nom:nom,
                    typePlace:typePlace,
                    action:codeAjout
                }
            }
            action(apiAjouter, envoiAjout, alerteEnvoye);
        }
        /*]]*/
    </script>
</div>