<div class="container-fluid pt-4 px-4" th:fragment="content">
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded p-4">
                <div class="row mb-3">
                <form action="/demande-addition" method="get">
                    <label for="recherche-table" class="col-sm-2 col-form-label">Table: </label>
                    <div class="input-group mb-3 col-sm-5" id="recherche-table">
                        <input type="text" class="form-control" id="recherche-table-input" name="table" aria-label="Recherche">
                        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-search"></i></button>
                    </div>
                    <table class="table">
                        <tbody id="recherche-table-suggestion"></tbody>
                    </table>
                </form>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="bg-secondary rounded p-4">
                <div class="table-responsive">
                    <table class="table" id="table-demande-additions">
                        <tr>
                            <th scope="col">Table</th>
                            <th scope="col">Heure</th>
                            <th scope="col">Montant</th>
                            <th scope="col">Reste à payer</th>
                            <th scope="col"></th>
                        </tr>
                        <tr th:each="c:${commandes}" th:id="'commande-row'+${c.id}">
                            <td scope="row"><a href="#" th:text="${c.recupererPlaceLabel()}" data-bs-toggle="modal" th:data-bs-target="'#commandeModal'+${c.id}"></a></td>
                            <div class="modal fade" th:id="'commandeModal'+${c.id}" tabindex="-1" th:aria-labelledby="'commandeModalLabel'+${c.id}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" th:id="'commandeModalLabel'+${c.id}" th:text="${c.recupererPlaceLabel()}+' - '+${c.recupererHeure()}"></h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body table-responsive">
                                            <div th:each="cf:${c.commandeFilles}">
                                                <p th:text="${cf.recupererMontantString()}+' : '+${cf.quantite}+' '+${cf.produit.nom}+' '+${cf.notes}+' ('+${cf.recupererPUString()}+')'"></p>
                                                <p><ul>
                                                    <li th:each="cfa:${cf.accompagnements}" th:text="${cfa.nom}"></li>
                                                </ul></p>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <td th:text="${c.recupererHeure()}"></td>
                            <td style="font-weight: bold;" th:text="${c.recupererMontantString()}"></td>
                            <td style="font-weight: bold;" th:id="'reste-a-payer-colonne'+${c.id}" th:text="${c.recupererResteAPayerString()}"></td>
                            <td>
                                <button type="button" class="btn btn-warning" data-bs-toggle="modal" th:data-bs-target="'#paieModal'+${c.id}">Payer</button>
                                <div class="modal fade" th:id="'paieModal'+${c.id}" tabindex="-1" th:aria-labelledby="'paieModalLabel'+${c.id}" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                        <form class="formulaire-payer" th:id="'formulaire-payer-commande'+${c.id}" th:data-idcommande="${c.id}" th:data-resteapayer="${c.resteAPayer}">
                                            <div class="modal-header">
                                                <h1 class="modal-title fs-5" th:id="'paieModalLabel'+${c.id}">Effectuer un paiement</h1>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div th:id="'alerte-envoye-commande'+${c.id}"></div>
                                                <p>
                                                    <span th:text="'Reste a payer : '"></span>
                                                    <span th:id="'reste-a-payer-commande'+${c.id}" style="font-weight: bold;" th:text="${c.recupererResteAPayerString()}"></span>
                                                </p>
                                                <div class="mb-3">
                                                    <label th:for="'montant-commande'+${c.id}" class="form-label">Montant</label>
                                                    <input type="number" th:value="${c.resteAPayer}" min="0" step="0.01" name="montant" class="form-control" th:id="'montant-commande'+${c.id}"
                                                        aria-describedby="emailHelp">
                                                </div>
                                                <fieldset class="row mb-3">
                                                    <legend class="col-form-label col-sm-2 pt-0">Mode de paiement</legend>
                                                    <div class="col-sm-10">
                                                        <div th:each="mp:${modepaiements}" class="form-check">
                                                            <input class="form-check-input" type="radio" name="mode-paiement"
                                                                th:id="'paiement-mode'+${mp.id}" th:value="${mp.id}" checked required>
                                                            <label class="form-check-label" th:for="'paiement-mode'+${mp.id}" th:text="${mp.nom}"></label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                                                <button type="submit" th:id="'payer-submit-commande'+${c.id}" class="btn btn-primary">Payer</button>
                                            </div>
                                        </form>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <br>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" th:href="${table!=null}?'/demande-addition?indice_actu='+${indice_premier}+'&table='+${table}:'/demande-addition?indice_actu='+${indice_premier}" aria-label="Precedent">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li th:class="'page-item '+${bouton_precedent}"><a class="page-link" th:href="${table!=null}?'/demande-addition?indice_actu='+${indice_precedent}+'&table='+${table}:'/demande-addition?indice_actu='+${indice_precedent}" th:text="${indice_precedent}"></a></li>
            <li class="page-item disabled page-active"><a class="page-link" th:text="${indice_actu}"></a></li>
            <li th:class="'page-item '+${bouton_suivant}"><a class="page-link" th:href="${table!=null}?'/demande-addition?indice_actu='+${indice_suivant}+'&table='+${table}:'/demande-addition?indice_actu='+${indice_suivant}" th:text="${indice_suivant}"></a></li>
            <li class="page-item disabled"><a class="page-link">...</a></li>
            <li class="page-item">
                <a class="page-link" th:href="${table!=null}?'/demande-addition?indice_actu='+${indice_dernier}+'&table='+${table}:'/demande-addition?indice_actu='+${indice_dernier}" aria-label="Suivant">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const places=/*[[${places}]]*/[];
        const rechercheTableInput=document.getElementById("recherche-table-input");
        const rechercheTableSuggestion=document.getElementById("recherche-table-suggestion");
        rechercheTableInput.oninput=()=>{
            rechercheTableSuggestion.innerHTML="";
            for(let i=0;i<places.length;i++){
                if(places[i].nom.includes(rechercheTableInput.value.toLowerCase())&&rechercheTableInput.value!==''){
                    const suggestion=document.createElement("tr");
                    const suggestionTdNom=document.createElement("td");
                    suggestionTdNom.textContent=places[i].nom;
                    const suggestionTdBtnCol=document.createElement("td");
                    const suggestionTdBtn=document.createElement("button");
                    suggestionTdBtn.type="button";
                    suggestionTdBtn.innerHTML='<i class="fa-solid fa-plus"></i>';
                    suggestionTdBtn.className="btn btn-primary w-100";
                    suggestionTdBtn.onclick=()=>{
                        rechercheTableInput.value=places[i].nom;
                    };
                    suggestion.appendChild(suggestionTdNom);
                    suggestionTdBtnCol.appendChild(suggestionTdBtn);
                    suggestion.appendChild(suggestionTdBtnCol);
                    rechercheTableSuggestion.appendChild(suggestion);
                }
            }
        };

        const formulaires=document.getElementsByClassName("formulaire-payer");
        const ip=/*[[${ip}]]*/"";
        const utilisateur=/*[[${utilisateur}]]*/{};
        const sessionid=/*[[${sessionid}]]*/"";
        const api="http://"+ip+":8080/payer";
        for(let i=0;i<formulaires.length;i++){
            const idcommande=formulaires[i].dataset.idcommande;
            const alerteEnvoye=document.getElementById("alerte-envoye-commande"+idcommande);
            let resteAPayer=Number(formulaires[i].dataset.resteapayer);
            formulaires[i].onsubmit=(ev)=>{
                ev.preventDefault();
                const formData=new FormData(formulaires[i]);
                const paiement={
                    commande:{ id:idcommande, resteAPayer:resteAPayer },
                    modePaiement:{ id:formData.get("mode-paiement") },
                    montant:formData.get("montant")
                }
                const envoiPaiement={
                    utilisateur:utilisateur,
                    sessionid:sessionid,
                    paiement:paiement
                }
                fetch(api, {
                    method:"POST",
                    headers:{
                        "Content-type":"application/json"
                    },
                    body:JSON.stringify({restdata:JSON.stringify(envoiPaiement)})
                }).then((response)=>{return response.json()})
                .then((data)=>{
                    if(data.code===0){
                        const alert=document.createElement("div");
                        alert.className="alert alert-danger alert-dismissible show w-100";
                        alert.setAttribute("role", "alert");
                        alert.textContent=data.message;
                        const button = document.createElement('button');
                        button.type = 'button';
                        button.className = 'btn-close';
                        button.setAttribute('data-bs-dismiss', 'alert');
                        button.setAttribute('aria-label', 'Close');
                        alert.appendChild(button);
                        alerteEnvoye.appendChild(alert);
                        return;
                    }
                    notifierSuperviseurPaiement(envoiPaiement);
                    const resteAPayerCommande=document.getElementById("reste-a-payer-commande"+idcommande);
                    const resteAPayerColonne=document.getElementById("reste-a-payer-colonne"+idcommande);
                    resteAPayer-=Number(formData.get("montant"));
                    resteAPayerCommande.textContent=new Intl.NumberFormat("de-DE").format(resteAPayer).replace(".", " ")+" Ar";
                    resteAPayerColonne.textContent=new Intl.NumberFormat("de-DE").format(resteAPayer).replace(".", " ")+" Ar";
                    formulaires[i].setAttribute("data-resteapayer", resteAPayer);
                    if(resteAPayer==0){
                        // const commandeRow=document.getElementById("commande-row"+idcommande);
                        // commandeRow.style.backgroundColor="#9cff9c";
                        // const button=document.getElementById("payer-submit-commande"+idcommande);
                        // button.innerHTML="<i class='fa-solid fa-check'></i>";
                        // button.disabled=true;
                        window.location.href="http://"+ip+":8080/demande-addition";
                    }
                });
            }
        }

        const resetCache=/*[[${resetcache}]]*/"";
        const receiveNotify=/*[[${receivenotify}]]*/"";
        const stompclient=new StompJs.Client({
            brokerURL:'ws://'+ip+':8080/messaging'
        });
        stompclient.activate();
        function redirigerVersResetCache(){
            window.location.href="http://"+ip+":8080/"+resetCache;
        }
        function receiveNotificationRedirect(){
            stompclient.subscribe("/notify/"+receiveNotify, (message)=>{
                redirigerVersResetCache();
            });
        }
        stompclient.onConnect=(frame)=>{
            receiveNotificationRedirect();
            receiveDemandeAddition();
            receiveActionSuperviseur();
        }
        window.onbeforeunload=()=>{
            stompclient.deactivate();
        }
        function notifierSuperviseurPaiement(envoiPaiement){
            stompclient.publish({
                destination:"/makay/payer-commande",
                body:JSON.stringify(envoiPaiement)
            });
        }
        function numberFormat(number){
            return new Intl.NumberFormat("de-DE").format(number)+" Ar";
        }
        function generateCommandeFille(cf){
            let accomps=``;
            for(const cfa of cf.accompagnements){
                accomps+=`<li>${cfa.nom}</li>`;
            }
            const commandeFille=`
            <div>
                <p>${numberFormat(cf.montant)} : ${cf.quantite} ${cf.produit.nom} ${cf.notes} (${numberFormat(cf.pu)})</p>
                <p><ul>
                    ${accomps}
                </ul></p>
            </div>`;
            return commandeFille;
        }
        const modePaiements=/*[[${modepaiements}]]*/[];
        function generateCommande(c){
            let commandeFilles=``;
            for(const cf of c.commandeFilles){
                commandeFilles+=generateCommandeFille(cf);
            }
            let modepaiements=``;
            for(const mp of modePaiements){
                modepaiements+=`
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="mode-paiement"
                        id="paiement-mode${mp.id}" value="${mp.id}" checked required>
                    <label class="form-check-label" for="paiement-mode${mp.id}">${mp.nom}</label>
                </div>`;
            }
            const commande=`
            <tr id="commande-row${c.id}">
                <td scope="row"><a href="#" data-bs-toggle="modal" data-bs-target="#commandeModal${c.id}">Table ${c.place.nom}</a></td>
                <div class="modal fade" id="commandeModal${c.id}" tabindex="-1" aria-labelledby="commandeModalLabel${c.id}" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="commandeModalLabel${c.id}">Table ${c.place.nom} - ${c.ouverture.replace("T", " ")}"></h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body table-responsive">
                                ${commandeFilles}
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                <td>${c.ouverture.replace("T", " ")}</td>
                <td style="font-weight: bold;">${numberFormat(c.montant)}</td>
                <td style="font-weight: bold;" id="reste-a-payer-colonne${c.id}">${numberFormat(c.resteAPayer)}</td>
                <td>
                    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#paieModal${c.id}">Payer</button>
                    <div class="modal fade" id="paieModal${c.id}" tabindex="-1" aria-labelledby="paieModalLabel${c.id}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                        <form class="formulaire-payer" data-idcommande="${c.id}" data-resteapayer="${c.resteAPayer}" id="formulaire-payer-commande${c.id}">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="paieModalLabel${c.id}">Effectuer un paiement</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div id="alerte-envoye-commande${c.id}"></div>
                                <p>
                                    <span>Reste a payer : </span>
                                    <span id="reste-a-payer-commande${c.id}" style="font-weight: bold;">${numberFormat(c.resteAPayer)}</span>
                                </p>
                                <div class="mb-3">
                                    <label for="montant-commande${c.id}" class="form-label">Montant</label>
                                    <input type="number" value="${c.resteAPayer}" min="0" step="0.01" name="montant" class="form-control" id="montant-commande${c.id}"
                                        aria-describedby="emailHelp">
                                </div>
                                <fieldset class="row mb-3">
                                    <legend class="col-form-label col-sm-2 pt-0">Mode de paiement</legend>
                                    <div class="col-sm-10">
                                        ${modepaiements}
                                    </div>
                                </fieldset>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Retour</button>
                                <button type="submit" id="payer-submit-commande${c.id}" class="btn btn-primary">Payer</button>
                            </div>
                        </form>
                        </div>
                        </div>
                    </div>
                </td>
            </tr>`;
            const tr=document.createElement("tr");
            tr.id="commande-row"+c.id;
            tr.innerHTML=commande;
            return tr;
        }
        const paginationLimit=/*[[${paginationlimit}]]*/0;
        const notifSndPath=/*[[${notification}]]*/"";
        const notification=new Audio(notifSndPath);
        function receiveDemandeAddition(){
            stompclient.subscribe("/notify/recevoir-demande-addition", (additionEnvoye)=>{
                const envoiAddition=JSON.parse(additionEnvoye.body);
                const tableAdditions=document.getElementById("table-demande-additions");
                if(tableAdditions.children.length<paginationLimit+1){
                    notification.play();
                    navigator.vibrate(500);
                    tableAdditions.appendChild(generateCommande(envoiAddition.commande));
                    const formulaire=document.getElementById("formulaire-payer-commande"+envoiAddition.commande.id);
                    formulaire.onsubmit=(ev)=>{
                        ev.preventDefault();
                        const idcommande=formulaire.dataset.idcommande;
                        const alerteEnvoye=document.getElementById("alerte-envoye-commande"+idcommande);
                        let resteAPayer=Number(formulaire.dataset.resteapayer);
                        const formData=new FormData(formulaire);
                        const paiement={
                            commande:{ id:idcommande, resteAPayer:resteAPayer },
                            modePaiement:{ id:formData.get("mode-paiement") },
                            montant:formData.get("montant")
                        }
                        const envoiPaiement={
                            utilisateur:utilisateur,
                            sessionid:sessionid,
                            paiement:paiement
                        }
                        fetch(api, {
                            method:"POST",
                            headers:{
                                "Content-type":"application/json"
                            },
                            body:JSON.stringify({restdata:JSON.stringify(envoiPaiement)})
                        }).then((response)=>{return response.json()})
                        .then((data)=>{
                            if(data.code===0){
                                const alert=document.createElement("div");
                                alert.className="alert alert-danger alert-dismissible show w-100";
                                alert.setAttribute("role", "alert");
                                alert.textContent=data.message;
                                const button = document.createElement('button');
                                button.type = 'button';
                                button.className = 'btn-close';
                                button.setAttribute('data-bs-dismiss', 'alert');
                                button.setAttribute('aria-label', 'Close');
                                alert.appendChild(button);
                                alerteEnvoye.appendChild(alert);
                                return;
                            }
                            notifierSuperviseurPaiement(envoiPaiement);
                            const resteAPayerCommande=document.getElementById("reste-a-payer-commande"+idcommande);
                            const resteAPayerColonne=document.getElementById("reste-a-payer-colonne"+idcommande);
                            resteAPayer-=Number(formData.get("montant"));
                            resteAPayerCommande.textContent=new Intl.NumberFormat("de-DE").format(resteAPayer).replace(".", " ")+" Ar";
                            resteAPayerColonne.textContent=new Intl.NumberFormat("de-DE").format(resteAPayer).replace(".", " ")+" Ar";
                            formulaire.setAttribute("data-resteapayer", resteAPayer);
                            if(resteAPayer==0){
                                // const commandeRow=document.getElementById("commande-row"+idcommande);
                                // commandeRow.style.backgroundColor="#9cff9c";
                                // const button=document.getElementById("payer-submit-commande"+idcommande);
                                // button.innerHTML="<i class='fa-solid fa-check'></i>";
                                // button.disabled=true;
                                window.location.href="http://"+ip+":8080/demande-addition";
                            }
                        });
                    }
                }
            })
        }
        function receiveActionSuperviseur(){
            stompclient.subscribe("/notify/recevoir-action-superviseur", (actionEnvoye)=>{
                const envoiAction=JSON.parse(actionEnvoye.body);
                const action=envoiAction.actionSuperviseur;
                const commandeRow=document.getElementById("commande-row"+action.commandeFille.commande.id);
                if(action.commandeFille.commande.resteAPayer==0){
                    commandeRow.parentNode.removeChild(commandeRow);
                    return;
                }
                const resteAPayer=document.getElementById("reste-a-payer-colonne"+action.commandeFille.commande.id);
                resteAPayer.textContent=numberFormat(action.commandeFille.commande.resteAPayer);
                const resteAPayerCmd=document.getElementById("reste-a-payer-commande"+action.commandeFille.commande.id);
                resteAPayerCmd.textContent=numberFormat(action.commandeFille.commande.resteAPayer);
                const formulairePayer=document.getElementById("formulaire-payer-commande"+action.commandeFille.commande.id);
                formulairePayer.setAttribute("data-resteapayer", action.commandeFille.commande.resteAPayer);
            });
        }
        /*]]*/
    </script>
</div>